html {
    font-size: 62.5%; 
    background-image: url('/images/bg-banner.jpg');
    background-position: top;
    background-size: 100vw;
    background-repeat: no-repeat;
}

h1 {
    font-family: Jockey One, serif;
    font-size: 2.4rem;
}

body { 
    font-family: Roboto, serif;
    color: #fff;
    margin:0;
    font-size: 1.6rem;
}

.container {
    margin: 0 auto;
    width: 80%;
}

header {
    display: flex;
    margin-top: 120px;
    height: 120px;
    justify-content: center;
}

/* Logo fonts (for alt) */

header .logo {
    display:flex;
    font-family: Suez One;
    font-size: 4.4rem;
    text-decoration: none;
    color: #2F7BC1;
    letter-spacing: -4px;
    width: 50%;
}

header .logo img {
        z-index: 1;
        margin-top: -35px;
        margin-right: -20px;
        margin-left: auto;
        width: auto;
        height: 100px;
}

nav, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-family: "Imprima";
}

nav {
    border: 1px solid #F46060;
    background-color: #c73c42;
    height: 3.0rem;
    width: 50%;
    display: flex;
    border-radius: 5px;
}

.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 50%;
    padding-left: 30px;
}

.nav-right {
    width: 50%;
}

.nav-items a span {
    color: #fff;
    background-color: #a83d41;
    display: inline-block;
    padding: 0 18%;
    border-radius: 5px;
    width: 100%;
}

nav > a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.newsbox {
    width: 100%;
    background-color: #2E3440;
    border-radius: 5px;
    border-color: #626D87;
    border-style: solid;
    border-width: 1px;
    display: flex;
    opacity: 0.9;
}

.newsbox h1 {
    color: #E9C647;
    padding-bottom:  2px;
    border-bottom: 2px solid rgba(233, 198, 71, 0.23);
}

.news-left, .news-right {
    width: 50%;
    padding: 0 2rem;
}

.featured {
    width: 100%;
    background-color: #fff;
}

.berry-content {
    margin: 50px 0;
    background-color: #333947;
    border: 1px solid #444C5E;
}

.mod-content {
    display: flex;
}

.mods {
    width: 80%;
}

.mods-info-bar {
    width: 100%;
}

.mods-list {
    display: flex;
    flex-wrap: wrap;
}

.mod {
    width: 40%;
    background-color: #596277;
    border-radius: 5px;
    background-color: #373E4E;
    border: 1px solid #484F5E;
    padding: 0.8rem;
    display: flex;
    flex: 0 0 calc(50% - 18px);
    margin: 5px;
    box-sizing: border-box;
    flex: wrap;
}

.mod-tbnl {
    width: 30%;
    max-width: 113px;
}

.mod-tbnl img {
    width: 100%;
    border-radius: 5px;
}

.mod-rt {
    margin: 0 0 0 1rem;
    width: 100%;
}

.mod:hover {
    background-color: #3D4454;
}

.mod-header {
    background-color: #333947;
    border: 1px solid #444C5E;
    border-radius: 5px;
    padding: 0.8rem;
}

.mod-title, .mod-author {
    width: 100%;
    display:inline-block;
    font-family: Jockey One, serif;
}

.mod-title a {
    color: #fff;
    text-decoration: none;
}

.mod-title a:hover {
    color: #434750;
    text-decoration: none;
}

.mod-author a {
    color: #798E97;
    text-decoration: none;
}

.mod-summary {

}

.mod-dl-btn {
    background-color: #B74747;
    text-decoration: none;
    border: 1px solid #596277;
    border-radius: 5px;
    padding: 1rem 5rem;
    margin: 1rem 0 0 0;
    font-family: Jockey One, serif;
    font-size: 1.4rem;
    color: #732424;
    text-shadow: 0 1px rgb(255, 255, 255, 0.25);
    background: rgb(183,71,71);
    background: -moz-linear-gradient(180deg, rgba(183,71,71,1) 93%, rgba(104,38,38,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(183,71,71,1) 93%, rgba(104,38,38,1) 100%);
    background: linear-gradient(180deg, rgba(183,71,71,1) 93%, rgba(104,38,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b74747",endColorstr="#682626",GradientType=1); 
}

.mod-dl-btn:hover {
    background: rgb(183,85,71);
    background: -moz-linear-gradient(180deg, rgba(183,85,71,1) 93%, rgba(104,38,38,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(183,85,71,1) 93%, rgba(104,38,38,1) 100%);
    background: linear-gradient(180deg, rgba(183,85,71,1) 93%, rgba(104,38,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b75547",endColorstr="#682626",GradientType=1); 
}

.mod-toc {
    justify-content: space-between;
    width: 20%;
}

.mod-nav {
    background-color: #373E4E;
    margin-right: 2rem;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #475064;
}

.mod-nav ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

.mod-nav ul li {
    padding: 1rem;
}

.mod-nav ul li:hover {
    padding: 1rem;
    background-color: #596277;
}

.mod-nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    width: 100%;
    margin:0;
}

@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
    }

    .mod-container { display: flex; }
    .mod-container .mod-list { width: 20%; }
    .mod-container .mod { flex: 1; }
}

