{{ define "main" }}
  <div class="body-content">
    <h1>{{ .Title }}</h1>
    <p class="cat-blurb">These mods are new and published directly to ZooBerry.</p>
    {{/*  {{ .Content }}  */}}
        <div class="blog-card-list">
        {{ range .Pages }}
            <div class="box-card-blogs">
                <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                <p class="blog-card-date">{{ .Date.Format "2 Jan 2006" }}</p>
                <div class="box-card-bottom">
                    <a href="{{ .RelPermalink }}" class="button-dft"><i class="material-icons icon">arrow_forward</i> Read More</a>
                </div>
            </div>
        {{ end }}
        </div>
  </div>
  {{ partial "sidebar_r.html" . }}

{{ end }}
