{{ define "main" }}
  <div class="article-container" id="TableOfContents">
    <div class="article">
      {{ partial "breadcrumbs.html" . }}
      <h1>{{.Title}}</h1>
      <div class="blog-subheader">
        <span>
              <strong>Published by </strong> <a href="/authors/">{{ .Params.author }}</a>
              <strong> on </strong><span class="post-date">{{ .Date.Format "2 Jan 2006" }}</span>
        </span>
      </div>

      <div class="article-post">
          {{ .Content }}
        </div>

      </div>
      <div class="article-toc">
        <h2>Table of Contents</h2>
            {{ .TableOfContents }}
      </div>
    </div>
{{ end }}
