{{ define "main" }}
  <div class="body-content">
    <h1>{{ .Title }}</h1>
    <p class="cat-blurb">{{ .Content }}</p>
    {{/*  {{ .Content }}  */}}
    {{/*  get the current page  */}}
    <div class="filter-bar-content">
        <div class="mod-tab-bar">
            <button class="mod-tab-btn tab-all tab-active" onclick="openTab('tab-all')">All</button>
            <button class="mod-tab-btn tab-animals" onclick="openTab('tab-animals')">Animals</button>
            <button class="mod-tab-btn tab-packs" onclick="openTab('tab-packs')">Packs</button>
            <button class="mod-tab-btn tab-objects" onclick="openTab('tab-objects')">Objects</button>
            <button class="mod-tab-btn tab-texture-mods" onclick="openTab('tab-texture-mods')">Texture Mods</button>
            <button class="mod-tab-btn tab-misc" onclick="openTab('tab-misc')">Misc</button>
        </div> 

        {{ .Scratch.Set "game" "zt2" }}
        {{ .Scratch.Set "category" "animals" }}

        <div class="tab tab-all">
            {{ .Scratch.Set "category" "all" }}
            {{ partial "range-badges" . }}
        </div>
        <div class="tab tab-animals">
            {{ .Scratch.Set "category" "animals" }}
            {{ partial "range-badges" . }}
        </div>
        <div class="tab tab-packs" style="display: none;">
            {{ .Scratch.Set "category" "packs" }}
            {{ partial "range-badges" . }}
        </div>
        <div class="tab tab-objects" style="display: none;">
            {{ .Scratch.Set "category" "objects" }}
            {{ partial "range-badges" . }}
        </div>
        <div class="tab tab-texture-mods" style="display: none;">
            {{ .Scratch.Set "category" "texture-mods" }}
            {{ partial "range-badges" . }}
        </div>
        <div class="tab tab-misc" style="display: none;">
            {{ .Scratch.Set "category" "misc" }}
            {{ partial "range-badges" . }}
        </div>
    </div>  


    {{ $currentPage := . }}
    {{ $tag := index $currentPage.Params.tags 0 }}
    {{ if eq (len $currentPage.Params.tags) 2 }}
        {{ $tag = index $currentPage.Params.tags 1 }}
    {{ else if eq (len $currentPage.Params.tags) 3 }}
        {{ $tag = index $currentPage.Params.tags 2 }}
    {{ else }}
        {{ $tag = "all" }}
        {{/*  print all tags  */}}
    {{ end }}
    {{ partial "range-mods-list.html" (dict "tag" $tag "context" . ) }}
    {{ partial "sidebar-r/filter-root.html" . }}

    <script>
      function openTab(item) {
        var i;
        var pages = document.getElementsByClassName("tab");
        var tabs = document.getElementsByClassName("mod-tab-btn");
        for (i = 0; i < pages.length; i++) {
          pages[i].style.display = "none";
          tabs[i].classList.remove("tab-active");
        }
        document.getElementsByClassName(item)[1].style.display = "block";
        document.getElementsByClassName(item)[0].classList.add("tab-active");
      }
    </script>


{{ end }}