{{ define "main" }}
    {{ $team := .Title }}

    {{/*  Author meta data  */}}
    {{ $websiteCount := 0 }}
    {{ $modCount := 0 }}
    {{ $allTagsAssociated := slice }}
    {{ $languagesByAuthor := slice }}
    {{ $websitesPublishedOn := slice }}
    {{ $collaborators := slice }}
    {{ $yearsActive := slice }}
    {{ $modsByTeam := slice }}

    {{ $archivedList := slice }}

    {{ $mods := where .Site.RegularPages "Type" "mods" }}
    {{ $websites := where .Site.RegularPages "Type" "archived-website" }}

    {{/*  Store list of website names from archived-websites  */}}
    {{ $websiteCount = len $websites }}

    {{/*  Populate meta data  */}}
    <div style="display: flex; flex-direction: column; margin: 2rem 0; width:100%;">
        <h1 style="margin:0;">{{ .Title }}</h1>
        <p style="margin:0;padding:0;"><i class="material-icons icon">archive</i> Archived</p>
    
        <div style="display: flex; flex-direction: row;width: 100%;">
            <div style="width:100%;margin-right: 2rem;">
                <table class="tb-df">
                    <tr class="tb-th">
                        <th class="tb-th">
                            Website
                        </th>
                        <th class="tb-th">
                            File Count
                        </th>
                        <th class="tb-th">
                            File Tags
                        </th>
                    </tr>

    {{ range $websites }}
        {{ $curWebsite := .Title }}
        {{ $modCount = 0 }}
        {{ range $mods }}
            {{ $curentMod := . }}
            {{ $curWebsiteList := .Params.orig_rel_at }}
            {{ $authors := .Params.author }}
            {{ $tags := .Params.tags }}
            {{ $languages := .Params.languages }}
            {{ $websites := .Params.orig_rel_at }}
            {{ $years := .Params.orig_rel_date }}
            {{ if in $curWebsiteList $curWebsite }}
                {{ $modCount = add $modCount 1 }}

                {{/*  Grab all tags published by author (if any)  */}}
                {{ with $tags }}
                    {{ range . }}
                        {{ if not (in $allTagsAssociated .) }}
                            {{ if not (eq . "all") }}
                                {{ $allTagsAssociated = $allTagsAssociated | append . }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{/*  Grab all languages published by author (if any)  */}}
                {{ with $languages }}
                    {{ range . }}
                        {{ if not (in $languagesByAuthor .) }}
                            {{ $languagesByAuthor = $languagesByAuthor | append . }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{/*  Grab all years active by team (if any)  */}}
                {{ with $years }}
                    {{/*  Only keep the year (it's in 2006-03-14 format)  */}}
                    {{ $year := index (split . "-") 0 }}
                    {{ if not (in $yearsActive $year) }}
                        {{ $yearsActive = $yearsActive | append $year }}
                    {{ end }}
                {{ end}}

                {{/*  Grab all mods by team  */}}
                {{ if not (in $modsByTeam $curentMod) }}
                    {{ $modsByTeam = $modsByTeam | append $curentMod }}
                {{ end }}

            {{ end }}
        {{ end }}
        <tr class="tb-tr">
            <td class="tb-td">
                <a href="{{ .Title | urlize }}">{{ .Title }}</a>
            </td>
            <td class="tb-td">
                {{ $modCount }}
            </td>
            <td class="tb-td">
                {{ range $allTagsAssociated }}
                    <a class="badge-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </td>
        </tr>
        
    {{ end }}
</table>
    
</div>
<div class="sidebar_r">
    <div class="sidebar_r-inner">
        <span class="sidebar_r-title">Description</span>
        <p style="padding: 0 2rem 0 2rem;">{{ .Params.description }}</p>
        <span class="sidebar_r-title">Languages</span>
        <div class="side-ul filter-tags">
            {{ range $languagesByAuthor }}
                <a class="badge-default" href="/languages/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        <span class="sidebar_r-title">Published On</span>
        <div class="side-ul filter-tags">
            {{ range $websitesPublishedOn }}
                <a class="badge-default" href="{{ . }}">{{ . }}</a>
            {{ end }}
        </div>
        <span class="sidebar_r-title">Members</span>
        <div class="side-ul filter-tags">
            {{ range .Params.members }}
                <a class="badge-default" href="/authors/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        <span class="sidebar_r-title">Years Active</span>
        <div class="side-ul filter-tags">
            {{ range $yearsActive }}
                <a class="badge-default" href="/years/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
        <span class="sidebar_r-title">Tags</span>
        <div class="side-ul filter-tags">
            {{ range $allTagsAssociated }}
                <a class="badge-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    </div>
</div>

</div>
</div>

{{ end }}