{{ define "main" }}
  <div class="body-content">
    <div class="filter-bar">
        <h2>Filters</h2>
        <div class="filter-bar-content">
            <div class="filter-group">
                <h3>Animals</h3>
                <ul>
                    <li><a href="#">Zoo Tycoon 1</a></li>
                    <li><a href="#">Zoo Tycoon 2</a></li>
                    <li><a href="#">Zoo Tycoon 3</a></li>
                </ul>
            </div>
            <div class="filter-group">
                <h3>Objects</h3>
                <ul>
                    <li><a href="#">Zoo Tycoon 1</a></li>
                    <li><a href="#">Zoo Tycoon 2</a></li>
                    <li><a href="#">Zoo Tycoon 3</a></li>
                </ul>
            </div>
            <div class="filter-group">
                <h3>Maps</h3>
                <ul>
                    <li><a href="#">Zoo Tycoon 1</a></li>
                    <li><a href="#">Zoo Tycoon 2</a></li>
                    <li><a href="#">Zoo Tycoon 3</a></li>
                </ul>
            </div>
            <div class="filter-group">
                <h3>Game</h3>
                <ul>
                    <li><a href="#">Zoo Tycoon 1</a></li>
                    <li><a href="#">Zoo Tycoon 2</a></li>
                    <li><a href="#">Zoo Tycoon 3</a></li>
                </ul>

            </div>
        </div>
    </div>
    <h1>{{ .Title }}</h1>
    <p class="cat-blurb">{{ .Content }}</p>
    {{/*  {{ .Content }}  */}}

    {{ partial "range-mods-list.html" (dict "tag" "zoo tycoon 2" "context" . ) }}
    {{ partial "sidebar_r.html" . }}

{{ end }}