{{/* Stats shows the number of authors, teams, archived websites,
zt1 mods, zt2 mods, blog posts */}}

{{ $authors := .Site.Data.meta.authors }}
{{/*  {{ $teams := len .Site.Data.meta.teams }}  */}}
{{ $archivedWebsites := .Site.Data.meta.orig_rel_at }}
{{ $zt1Mods := .Site.Data.meta.zt1_mods }}
{{ $zt2Mods := .Site.Data.meta.zt2_mods }}
{{ $blogPosts := len .Site.RegularPages }}
{{ $modCount := add $zt1Mods $zt2Mods }}

<div class="sidebar_r-inner-a">
    <table class="tb-df">
        <thead class="tb-th">
            <tr>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
        <tr class="tb-tr">
            <td class="tb-td">
                <span>Authors</span> <code>{{ $authors }}</code>
            </td>

        </tr>
        <tr class="tb-tr">
            <td class="tb-td">
                <span>Archived Websites</span> <code>{{ $archivedWebsites }}</code>
            </td>
        </tr>
        <tr class="tb-tr">
            <td class="tb-td">
                <span>ZT1 Mods</span> <code>{{ $zt1Mods }}</code>
            </td>
        </tr>
        <tr class="tb-tr">
            <td class="tb-td">
                <span>ZT2 Mods</span> <code>{{ $zt2Mods }}</code>
            </td>
        </tr>
        <tr class="tb-tr">
            <td class="tb-td">
                <span>Total Mods Archived</span> <code>{{ $modCount }}</code>
            </td>
        </tr>
    </table>
</div>
 
<a class="sidebar_r-discord" href="https://discord.gg/ATqFYVsjkc" target="_blank" rel="noopener">
    <img src="{{ .Site.Params.cdn }}images/discord-mark-white.svg" alt="Discord" /> <span>Join our Discord</span>   
</a>

