{{ define "main" }}
  <div class="body-content">
    <h1>{{ .Title }}</h1>
    <img class="k-banner" src="{{ .RelPermalink }}images/banner.jpg" alt="{{ .Params.image }}" />
    <p class="cat-blurb">{{ .Description }}</p>
    {{/*  {{ .Content }}  */}}

    <div class="k-grid">
        {{/* For each section in the main 'knowledgebase section', list their top level pages */}}
        {{ range .Sections }}
            <div class="k-section">
                <h2>{{ .Title }}</h2>
                {{ range .Pages }}
                    <ul class="k-list">
                        <li><a href="{{.RelPermalink}}">{{ .LinkTitle }}</a></li>
                    </ul>
                {{ end}}
            </div>
        {{ end }}
        </div>
  </div>
  {{ partial "sidebar-r/sidebar_r.html" . }}

{{ end }}
