{{ if .Params.exp_req }}
{{ range .Params.exp_req }}
        {{ if eq . "AA"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/aa.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="AA" title="African Adventure" />      
        {{ else if eq . "ES"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/es.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="ES" title="Endangered Species" />
        {{ else if eq . "MM"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/mm.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="MM" title="Marine Mania" />
        {{ else if eq . "EA"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/ea.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="EA" title="Extinct Animals" />
        {{ else if eq . "MM2"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/mm2.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="MM2" title="Marine Mania 2" />
        {{ else if eq . "DDR"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/ddr.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="DDR" title="Dino Danger Pack" />
        {{ else if eq . "DD"}}
                <img src="{{ $.Site.Params.cdn }}images/expansions/dd.webp" style="width: unset; vertical-align: middle;" width="18" height="18" alt="DD" title="Dinosaur Digs" />
        {{ end }}
{{ end }}
{{ else }}
None Required
{{ end }}