{{ if .Params.tags }}

{{/*  Animals
Biomes
Expansive Packs
Hacks
Maps
Objects
Remakes
Texture Mods
Tools and Utilities  */}}

{{/*  get second index   */}}
{{ $main_cat := index .Params.tags 2 }}
<span class="badge-default badge-{{- $main_cat -}}">
    {{ if eq $main_cat "animals" }}
        Animals
    {{ else if eq $main_cat "biomes" }}
        Biomes
    {{ else if eq $main_cat "expansive-packs" }}
        Expansive Packs
    {{ else if eq $main_cat "hacks" }}
        Hacks
    {{ else if eq $main_cat "maps" }}
        Maps
    {{ else if eq $main_cat "objects" }}
        Objects
    {{ else if eq $main_cat "remakes" }}
        Remakes
    {{ else if eq $main_cat "texture-mods" }}
        Texture Mods
    {{ else if eq $main_cat "tools-utilities" }}
        Tools and Utilities
    {{ end }}
</span>
{{ end }}