{{/*  <p>Copyright {{ now.Year }}. All rights reserved.</p>  */}}
<div class="foot-ctr">
    <div class="foot-col">
        <h3>Site</h3>
        <ul>
            <li><a href="/knowledgebase/zooberry/site/about">About</a></li>
            <li><a href="/knowledgebase/zooberry/site/faq">FAQ</a></li>
            <li><a href="/knowledgebase/zooberry/site/licenses">Credits</a></li>
            <li><a href="/knowledgebase/zooberry/site/tos">Terms of Service</a></li>
            <li><a href="mailto:zooberry@goosifer.io">Contact</a></li>
        </ul>
    </div>
    <div class="foot-col">
        <h3>Contribute</h3>
        <ul>
            <li><a href="/knowledgebase/zooberry/site/submit">Submit a Mod</a></li>
            <li><a href="https://github.com/GoosiferIO/zooberry/issues">Report a Bug</a></li>
            <li><a href="https://ko-fi.com/U7U6UXNXD">Support us on Ko-fi</a></li>
        </ul>
    </div>
    <div class="foot-col">
        <h3>Community</h3>
        <ul>
            <li><a href="/blog">Blog</a></li>
            <li><a href="https://github.com/GoosiferIO/">GitHub</a></li>
            <li><a href="https://discord.gg/ATqFYVsjkc">Discord</a></li>
            <li><a href="/knowledgebase/zooberry/community/other-websites">Other Websites</a></li>
        </ul>
    </div>
    <div class="foot-col">
        <h3>ZooBerry</h3>
        <ul>
            <li>Copyright {{ now.Year }} Goosifer.IO</li>
            <li>ZooBerry 2.0.0 last updated on {{ now.Format "2 Jan 2006" }}</li>
            <li>ZooBerry Theme by Goosifer.IO</li>
            <li>Strawberry icon in logo and favicon by <a href="https://icons8.com/" title="Icons8">Icons8</a></li>
        </ul>
        <p>ZooBerry is a fan-made platform dedicated to hosting user-created modifications ("mods") for Zoo Tycoon, a video game developed and owned by Microsoft Corporation. We would like to emphasize that this website is not affiliated with or endorsed by Microsoft in any way. Zoo Tycoon and all related trademarks, logos, characters, and other assets are the property of Microsoft Corporation.</p>

    </div>
</div>
