
<div class="galleria">
    {{ $images := .Resources.Match "images/*.{jpg,png,webp,gif}" }}
    {{ range $images }}
        {{ if not (strings.Contains .Name "_thumb.jpg") }}
            {{ $imageURL := path.Join $.Site.Params.cdnfs $.RelPermalink "" (. | relURL) }}
            <a href="{{ $imageURL }}"><img src="{{ $imageURL }}" data-title="{{ $.Params.Title }}" data-description="{{ $.Params.summary }}"></a>
        {{ end }}
    {{ end }}
    <script>
        (function() {
            Galleria.loadTheme('{{ .Site.BaseURL }}js/galleria.twelve.js');
            Galleria.run('.galleria');
        }());
    </script>
</div>