
<div class="galleria">
    {{ $images := .Resources.Match "images/*.{jpg,png,webp,gif}" }}
    {{ range $images }}
        {{ if not (strings.Contains .Name "_thumb.jpg") }}
            {{ $imageURL := path.Join $.Site.Params.cdnfs $.RelPermalink "" (. | relURL) }}
            <a href="{{print "https://"}}{{ $imageURL }}"><img src="{{print "https://"}}{{ $imageURL }}" alt="{{ $.Params.summary }}" /></a>
        {{ end }}
    {{ end }}
    <script>
        (function() {
            Galleria.loadTheme('{{ .Site.BaseURL }}js/scripts.js');
            Galleria.run('.galleria');
        }());
    </script>
</div>