<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
{{ partialCached "head/css.html" . }}


<!-- css stylesheets minify -->
{{ $allStyles := resources.Match "css/*.css" }}
{{ $style := $allStyles | resources.Concat "css/styles.css"  | fingerprint }}
{{ $galleria := resources.Get "/css/galleria.twelve.css" | fingerprint  }}

{{ $allScripts := resources.Match "js/*.js" }}
{{ $script := $allScripts | resources.Concat "js/scripts.js"  | fingerprint }}

<script src="{{ $script.Permalink }}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">
<link rel="stylesheet" href="{{ $galleria.Permalink }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
