{{/*  Navigation that displays in the body of a page (If applicable).  */}}
{{ if .Params.submenu }}
    <nav class="container inner-nav">
        <ul class="inner-nav-ul">
            {{ range .Params.submenu }}
                <li class="inner-nav-li">
                    <a href="{{ .url }}" class="inner-nav-a">{{ .name }}</a>
                </li>
            {{ end }}
        </ul>
    </nav>
{{ else }}
    <nav class="container inner-nav">
        <ul class="inner-nav-ul">
            <button id="menu-button" class="menu-button">
                <i class="material-icons">menu</i>
            </button>
        </ul>
    </nav>
{{ end }}