{{/*  Navigation that displays in the body of a page (If applicable).  */}}
{{/*  {{ if .Params.submenu }}
    <nav class="container inner-nav">
        <ul class="inner-nav-ul">
            {{ range .Params.submenu }}
                <li class="inner-nav-li">
                    <a href="{{ .url }}" class="inner-nav-a">{{ .name }}</a>
                </li>
            {{ end }}
        </ul>
    </nav>
{{ else }}  */}}
    <nav class="container inner-nav">
        <div class="inner-nav-ctr">
            <button id="menu-button" class="menu-button">
                <i class="material-icons">menu</i>
            </button>
            {{/*  Theme switcher  */}}
            <div class="theme-switcher">
                <label class="switch">
                    <input type="checkbox" id="theme-switcher">
                    <div class="slider round"></div>
                </label>
            </div>

            {{/*  Theme switch script  */}}
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const themeSwitcher = document.getElementById('theme-switcher');
                
                    // Load saved theme preference
                    const savedTheme = localStorage.getItem('theme');
                    if (savedTheme === 'light') {
                        document.documentElement.classList.add('light');
                        themeSwitcher.checked = true;
                    } else {
                        document.documentElement.classList.remove('light');
                        themeSwitcher.checked = false;
                    }
                
                    // Handle toggle switch
                    themeSwitcher.addEventListener('change', function() {
                        if (this.checked) {
                            document.documentElement.classList.add('light');
                            localStorage.setItem('theme', 'light');
                        } else {
                            document.documentElement.classList.remove('light');
                            localStorage.setItem('theme', 'dark');
                        }
                    });
                });
            </script>
            <div id="search-container" style="position: relative;">
                <input type="text" id="search-box" placeholder="Search mods...">
                <ul id="search-results"></ul>
            </div>
            <div class="side-kofi">
                <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
                <script type='text/javascript'>
                    kofiwidget2.init('Support Us on Ko-fi', 'var(--kofi)', 'U7U6UXNXD');
                    kofiwidget2.draw();
                </script>
            </div>
        </div>
    </nav>
{{/*  {{ end }}  */}}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // clear search box if page reloaded
        const searchBox = document.getElementById('search-box');
        const resultsContainer = document.getElementById('search-results');
      
        searchBox.value = ''; // clear the search box
        resultsContainer.innerHTML = ''; // remove any previous results
      });

    let searchIndex;

    function toProperCase(str) {
        return str
          .split(' ') // Split the string into words
          .map(word => word.charAt(0).toUpperCase() + word.slice(1)) // Capitalize first letter of each word
          .join(' '); // Join the words back into a single string
      }
  
    // get the JSON data
    fetch('/index.json')
      .then(response => response.json())
      .then(data => {
        console.log('Fetched JSON data:', data);
  
        // init Lunr.js
        searchIndex = lunr(function () {
          this.ref('url'); 
          this.field('title');
          this.field('game');
          this.field('contents'); 
          this.field('author');
  
          data.forEach(doc => {
            console.log('Adding document to index:', doc);
  
            // combine all content into a single string
            const aggregatedContents = doc.contents.join(' ');
            this.add({
                title: doc.title.toLowerCase(),
                url: doc.url,
                contents: aggregatedContents.toLowerCase(), // Ensure case-insensitive search
                game: doc.game.toLowerCase(),
                author: doc.author.toLowerCase()
            });
          });
        });
  
        console.log('Lunr.js index initialized:', searchIndex);
  
        // store data in global variable for later retrieval
        window.searchDocs = data.reduce((acc, doc) => {
            acc[doc.url] = {
              ...doc, // Ensure all fields, including 'game', are stored
            };
            return acc;
          }, {});
                })
      .catch(error => console.error('Error fetching or processing JSON:', error));
  
    // live search start
    document.getElementById('search-box').addEventListener('input', function () {
      const query = this.value.trim().toLowerCase();
      const resultsContainer = document.getElementById('search-results');
      resultsContainer.innerHTML = ''; // erase prev results
    
      // if no results, display: none search-results and return
      if (query.length === 0 || !searchIndex) {
        resultsContainer.style.display = 'none';
        return;
      }

        resultsContainer.style.display = 'flex';
        resultsContainer.style.flexDirection = 'column';
  
      // wildcard to get partial matches
      const exactMatchResults = searchIndex.search(query);
      const partialResults = searchIndex.search(`*${query}*`)
      // combine exact and partial matches, remove duplicates
      const results = [...new Map([...exactMatchResults, ...partialResults].map(item => [item.ref, item])).values()];
      console.log('Search results:', results);

    // if characters are in search box but no results, "No results found" message
    if (results.length === 0) {
        const listItem = document.createElement('li');
        listItem.textContent = 'No results found';
        resultsContainer.appendChild(listItem);
        return;
    }

  
    results.slice(0, 10).forEach(result => {
        // get the matching document
        const doc = window.searchDocs[result.ref];
        console.log('Matching document:', doc);
  
        const link = document.createElement('a');
        link.href = doc.url;
        // make title proper case
        link.textContent = toProperCase(doc.title);
  
        // add game name to search results
        const author = doc.author ? `by ${doc.author}` : '';
        // if 'zoo tycoon 1' then 'zt1' or 'zoo tycoon 2' then 'zt2'
        const game = doc.game === 'zoo tycoon 1' ? 'ZT1' : doc.game === 'zoo tycoon 2' ? 'ZT2' : 'Assets';
        const span = document.createElement('span');
        span.textContent = `${game}`;
        span.className = doc.game === 'zoo tycoon 1' ? 'span-zt1' : doc.game === 'zoo tycoon 2' ? 'span-zt2' : doc.game === 'assets' ? 'span-assets' : '';
        link.appendChild(span);

        // by author
        const author_span = document.createElement('span');
        author_span.textContent = `${author}`;
        author_span.className = 'list-results-author';
        link.appendChild(author_span);

        // add the link to the search results
        const listItem = document.createElement('li');
        
        // if the string exists within 'contents', show the string under the list result
        const matchingContents = doc.contents.filter(item => item.toLowerCase().includes(query));
        if (matchingContents.length > 0) {
            const sublist = document.createElement('ul');
            sublist.className = 'sublist';
            sublist.style.marginLeft = '16px'; // Indent sublist

            // header for sublist
            const contents_span = document.createElement('li');
            contents_span.textContent = 'Found inside:';
            contents_span.className = 'sublist-header';
            sublist.appendChild(contents_span);

            matchingContents.forEach(content => {
                const subItem = document.createElement('li');
                subItem.textContent = toProperCase(content); // Display in proper case
                sublist.appendChild(subItem);
            });


            listItem.appendChild(sublist);

            link.appendChild(sublist);

        }

        listItem.appendChild(link);
        resultsContainer.appendChild(listItem);
        
        }); });
  </script>
  
  <style>
    #search-container {
        width: 80%;
        position: relative;
        padding: 0;
      }

        #search-box {
            width: calc(100% - 20px);
            padding: 10px;
            font-size: 0.9rem;
            border: none;
            border-radius: 5px;
            outline: none;
        }

        #search-box:hover {
            filter: brightness(0.9);
            /* animation */
            transition: filter ease-in-out 0.3s;

        }
      
        #search-results {
            display: none;
            list-style-type: none;
            margin: -4px 0 0;
            position: absolute; 
            top: 100%; 
            left: 0;
            width: 100%;
            background-color: #fff;
            border-radius: 0 0 5px 5px;
            z-index: 1000;
            max-height: 300px;
            overflow-y: auto; 
          }
          
          #search-results li {
            display: list-item;
            width: 100%;
            font-size: 1rem;
            border-bottom: 1px solid #f2f2f2;
          }

          #search-results li:hover {
            background: #e7e7e7;
            transition: background ease-in-out 0.3s;
            }
          
          #search-results a {
            text-decoration: none;
            color: var(--thead-bg);
            display: block; 
            padding: 1rem;
          }
          
          /* content list under search results */
          #search-results .sublist {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            color: #666;
          }

          #search-results .sublist-header {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
            margin-left: 5px !important;
            font-style: none !important;
          }

          /* sublist items */
            #search-results .sublist li {
                margin: 5px 0 0 20px;
                display: list-item;
                width: 100%;
                font-style: italic;
                border: none;
            }
          
          /* game name in search results */
            #search-results a span:first-child {
                font-size: 0.8em;
                color: #f5f5f5;
                margin: 0 5px;
                padding: 2px 4px;
                border-radius: 5px;
            }

            /* specific game name in search results */
            .span-zt1 {
                background-color: #6597ac;
            }

            .span-zt2 {
                background-color: #a8ad7c;
                color: #333;
            }

            .span-assets {
                background-color: #b97ea1;
                color: #333;
            }

            /* author in search results italic */
            #search-results a .list-results-author {
                font-size: 0.8em;
                color: #666;
                margin: 0 0.1rem;
                padding: 2px;
                border-radius: 5px;
                font-style: italic;
            }
                              
  </style>