{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
  <nav>
    <ul>
      <li class="nav-logo">
        <a href="/" title="ZooBerry">
          
        </a>
      </li>
      {{ $currentPage := . }}
      {{ range . }}
        {{ if .HasChildren }}
          <div class="dropdown">
            <li class="{{ .Params.class }}">
              <a class="dropbtn" href="{{ .URL | relURL }}">{{ .Name }}</a>
              <div class="dropdown-content">
                {{ range .Children }}
                  <a href="{{ .URL | relURL }}">{{ .Name }}</a>
                {{ end }}
              </div>
            </li>
          </div>
        {{ else }}
          <li>
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      <!-- <div class="dropdown">
        <li class="{{ .Params.class }}">
          <a class="dropbtn" href="{{ .URL | relURL }}">{{ .Name }}</a>
          <div class="dropdown-content">
            <a href="#">Web Design</a>
            <a href="#">SEO</a>
            <a href="#">Marketing</a>
          </div>
        </li>
      </div> -->
      {{ end }}
      <li class="nav-right">
        <button class="theme-switch" id="toggle"></button>
        <script type='text/javascript' src='theme-switch.js'></script>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', 'var(--kofi)', 'U7U6UXNXD');kofiwidget2.draw();</script>       
      </li>
    </ul>
{{- end }}

{{- define "partials/inline/menu/walk.html" }}
  {{- $page := .page }}
  {{- range .menuEntries }}
    {{- $attrs := dict "href" .URL }}
    {{- if $page.IsMenuCurrent .Menu . }}
      {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
    {{- else if $page.HasMenuCurrent .Menu .}}
      {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
    {{- end }}
    {{- $name := .Name }}
    {{- with .Identifier }}
      {{- with T . }}
        {{- $name = . }}
      {{- end }}
    {{- end }}
    <li>
      <a
        {{- range $k, $v := $attrs }}
          {{- with $v }}
            {{- printf " %s=%q" $k $v | safeHTMLAttr }}
          {{- end }}
        {{- end -}}
      >{{ $name }}</a>
      {{- with .Children }}
        <ul>
          {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      {{- end }}
    </li>
  {{- end }}
{{- end }}
</nav>
