    
{{ $game := .Scratch.Get "game" }}
{{ $category := .Scratch.Get "category" }}

{{/*  return pages with specific tag  */}}
{{ $mods :=  where .Site.RegularPages "Type" "mods" }}
{{/*  all
animal-food
animal-reskins
animal-shelters
animals
arches
assets
biomes
building-kits
buildings
dinosaurs
elevated-paths
enrichment
extinct
fences
foliage
ground-paths
hacks
land-foliage
maps
objects
packs
remakes
rocks
scenery
shelters
signs
texture-mods
tools-utilities
transportation
trees
uxp
zoo tycoon 1
zoo tycoon 2
zt1  */}}


{{/* Get all tags inside all subdirectories  */}}

{{ $uniqueTags := slice }}

{{/* Collect all pages in the site */}}
{{ range $mods }}
    {{ with .Params.zt1tags }}
        {{/*  Only if tags exist in $category or $game  */}}
        {{ if (in . $category) }}
                {{ range . }}
                    {{ if not (in $uniqueTags .) }}
                        {{ $uniqueTags = $uniqueTags | append . }}
                {{ end }}
        {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* Sort tags alphabetically */}}
{{ $uniqueTags = sort $uniqueTags }}

{{/*  Display the tags  */}}
<div class="filter-tags">
    {{ range $uniqueTags }}
        <a href="/mods/zt1/tags/{{ . | urlize}}" class="badge-default">{{ . }}</a>
    {{ end }}
</div>
