{{/*  get all zip files in folder and list  */}}

{{ $files := .Resources.Match "/*.zip" }}
{{ $fileCount := len $files }}
{{/* Get unique list of .Params.mod_list.category */}}
{{ $categories := slice }}
{{ range .Params.mod_list }}
    {{ $categories = union $categories (slice .category) }}
{{ end }}

{{ $modList := .Params.mod_list }}
{{ $rel := .RelPermalink}}

{{ $fileSize := .Params.file_size }}
{{ $date := .Date.Format "2 Jan 2006" }}
{{ $cdn := .Site.Params.cdn }}
{{ if gt $fileCount 1 }}
    {{ range $categories }}
        {{ $curCategory := . }}
        <table class="mod-list-table" style="margin-bottom: 1rem;">
            <colgroup>
                <col style="width: 30%">
                <col style="width: 20%">
                <col style="width: 20%">
                <col style="width: 30%">
            </colgroup>
            <thead>
                <tr>
                    <th colspan="4">{{ . }}</th>
                </tr>
            </thead>
        {{ range $modList }}
            {{ with . }}
                {{ if eq $curCategory .category }}
                    <tr>

                            <td class="mod-list-item">
                                {{ .title }}
                            </td>
                            <td class="mod-list-item">
                                {{  .file_size }}
                            </td>
                            <td class="mod-list-item">
                                {{ .uploaded }}
                            </td>
                            <td class="mod-list-item" style="text-align: center;">
                                <a class="button-dft margin-top" href="{{$cdn}}{{ $rel }}{{ .name }}.zip"><i class="material-icons icon">download</i> Download</a>
                            </td>
                    </tr>
                    {{ with .description }}
                        <tr>
                            <td class="mod-list-item" colspan="4">
                                {{ . }}
                            </td>
                        </tr>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
        </table>
    {{ end }}
{{ else if eq $fileCount 1 }}
    <table class="mod-list-table" style="margin-bottom: 1rem;">
        <colgroup>
            <col style="width: 30%">
            <col style="width: 20%">
            <col style="width: 20%">
            <col style="width: 30%">
        </colgroup>
        <thead>
            <tr>
                <th colspan="4">Download</th>
            </tr>
        </thead>
    {{ range $files }}
        <tr>
            <td class="mod-list-item">
                {{ index $files 0 }}
            </td>
            <td class="mod-list-item">
                {{  $fileSize }}
            </td>
            <td class="mod-list-item">
                {{ $date }}
            </td>
            <td class="mod-list-item" style="text-align: center;">
                <a class="button-dft margin-top" href="{{$cdn}}{{ .RelPermalink }}"><i class="material-icons icon">download</i> Download</a>
            </td>
        </tr>
    {{ end }}
    </table>
{{ else }}
    <p>No files found</p>
{{ end }}

