{{ $filter := .Scratch.Get "filter" }}
{{ $currentGame := .Params.major }}
{{ $mods := where .Site.RegularPages "Section" "mods" }}
{{/*  tags" "intersect" (slice $filter) }}  */}}
{{/*  return only mods that have field currently set in Params.game */}}
{{ $filteredMods := slice }}
{{ .Params.zt1tags }}
{{ range $mods }}
    {{ if eq .Params.major $currentGame }}
        {{ if in .Params.tags $filter }}
            {{ $filteredMods = $filteredMods | append . }}
        {{ end }}
    {{ else if eq $filter "assets" }}
        {{ if in .Params.tags "assets" }}
            {{ $filteredMods = $filteredMods | append . }}
        {{ end }}
    {{ end}}
{{ end }}

{{/*  sort mods by title  */}}

{{ $sortedMods := sort $filteredMods "Title" "asc" }}
{{ $paginator := .Paginate $sortedMods }}
{{ template "_internal/pagination.html" (dict "paginator" $paginator "page" .) }}

<div class="box-card-list">
    {{ range $paginator.Pages }}
    <li class="box-card-mods">
        <div class="box-card-mods-img">
            {{/*  get first image from images folder in this bundle */}}
            {{ $thumbnail := "" }}
            {{ with (.Resources.GetMatch "images/*") }}
                {{ $processedImage := .Fill "300x200 center" }} <!-- Adjust dimensions as needed -->
                {{ $thumbnail = $processedImage.RelPermalink }}
            {{ end }}

            <a href="{{ .RelPermalink }}">
                <img src="{{ $thumbnail }}" alt="{{ .LinkTitle }}">
            </a>
        </div>
        <div class="box-card-mods-content">
                <p>
                {{ if eq .Params.game "Zoo Tycoon 1" }}
                    <a href="{{ .Site.BaseURL }}/mods/zt1/tags/all">{{ .Params.game }}</a>
                {{ else if eq .Params.game "Zoo Tycoon 2" }}
                    <a href="{{ .Site.BaseURL }}/mods/zt2/tags/all">{{ .Params.game }}</a>
                {{ else }}
                    <a href="{{ .Site.BaseURL }}mods/assets">Assets</a>
                {{ end }}
                </p>
            <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <p>by 

                {{ $authors := .Params.author }}
                {{ $siteBaseURL := .Site.BaseURL }}    
                {{ with .Params.team }}
                    <a href="{{ $siteBaseURL }}teams/{{ . | urlize }}">{{ . }}</a>
                {{ else }}
                    {{ with $authors }}
                        {{ $len := len $authors }}
                        {{ if eq $len 1 }}
                            <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>
                        {{ else if eq $len 2 }}
                            <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a> and <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a>
                        {{ else }}
                            <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>, <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a> and {{ sub $len 2 }} more
                        {{ end }}
                    {{ end }}
                {{ end }}
</p>
            <span class="box-card-bottom">
                {{ partial "class-badges.html" . }}
                <span class="box-card-date">{{ .Date.Format "2 Jan 2006" }}</span>
            </span>
        </div>
    </li>
        {{ end }}
  </div>
  {{ template "_internal/pagination.html" (dict "paginator" $paginator "page" .) }}
</div>
