    
{{ $game := .Scratch.Get "game" }}
{{/*  return pages with specific tag  */}}
{{ $mods :=  where .Site.RegularPages "Type" "mods" }}
{{ $mods = where .Site.Pages "Params.tags" "intersect" (slice "zoo tycoon 2" ) }}


{{/*  get category  */}}
{{ $category := .Scratch.Get "category" }}

{{/*  all
animal-food
animal-reskins
animal-shelters
animals
arches
assets
biomes
building-kits
buildings
dinosaurs
elevated-paths
enrichment
extinct
fences
foliage
ground-paths
hacks
land-foliage
maps
objects
packs
remakes
rocks
scenery
shelters
signs
texture-mods
tools-utilities
transportation
trees
uxp
zoo tycoon 1
zoo tycoon 2
zt1  */}}


{{/*  get all tags inside all subdirectories  */}}

{{ $uniqueTags := slice "all" }}

{{/* Collect all pages in the site */}}
{{ range .Site.RegularPages }}
    {{ with .Params.tags }}
        {{ range . }}
            {{ if not (in $uniqueTags .) }}
                {{ $uniqueTags = $uniqueTags | append . }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{/* Sort tags alphabetically */}}
{{ $uniqueTags = sort $uniqueTags }}

<div class="filter-tags">
    {{ range $uniqueTags }}
        <a href="/mods/{{ . }}" class="badge-default">{{ . }}</a>
    {{ end }}
</div>
