{{/*  get all dependencies  */}}

{{/*  get length of dependencies  */}}
{{ $dependencyCount := 0 }}
{{ if .Params.dependencies }}
  {{ $dependencyCount = len .Params.dependencies }}
{{ end }}

{{ if gt $dependencyCount 0 }}
        {{ range .Params.dependencies }}
            <tr>
                <td class="mod-list-item">{{ .title }}</td>    
                <td class="mod-list-item dep-item">
                    {{ if not .external }}
                        <a class="button-dft margin-top dep-btn" href="{{ .url }}" target="_blank" rel="noopener noreferrer"><i class="material-icons icon">insert_drive_file</i> Visit Mod Page</a>
                    {{ else }}
                        <a class="button-dft margin-top dep-btn" href="{{ .url }}" target="_blank" rel="noopener noreferrer"><i class="material-icons icon">open_in_new</i> External Link</a>
                    {{ end }}
            </tr>
            <tr>
                <td class="mod-list-item" colspan="3">{{ .description }}</td>
            </tr>
        {{ end }}
{{ end }}