<div class="sidebar">
    <h3>Zoo Tycoon 1</h3>
    {{- $page := .page }}
    {{- $menuID := .menuID }}
    
    {{- with index site.Menus "zt1" }}
            <ul class="side-ul">
            {{ $currentPage := . }}
            {{ range . }}
                <li class="side-li-{{ .Name | urlize }}">
                    <a href="{{ .PageRef }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
    {{- end }}
    <h3>Zoo Tycoon 2</h3>

    {{- with index site.Menus "zt2" }}
            <ul class="side-ul">
            {{ $currentPage := . }}
            {{ range . }}
                <li class="side-li-{{ .Name | urlize }}">
                    <a href="{{ .PageRef }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
    {{- end }}
</div>
