{{ $files := .Resources.Match "/*.zip" }}
{{ $fileCount := len $files }}

<div class="sidebar_r">
  <h1>{{.Title}}</h1>
  <p>{{ .Summary }}</p> 
    <span class="author-meta">
      <p>Created By</p>
      {{ range .Params.author }}
          <a class="badge-default" href="/author/"><i class="material-icons icon">person</i> {{ . }}</a>
      {{ end }}
    </span>
    <div class="mod-deets">
      <div><p><i class="material-icons icon">download</i>Downloads</p> <span>10</span></div>
      <div><p><i class="material-icons icon">calendar_month</i>Published</p> <span>{{ .Date.Format "2 Jan 2006" }}</span></div>
    </div>

    <div class="sidebar_r-inner">
      {{ if gt $fileCount 1 }}
        <a class="button-dft" href="#tab-file-anchor" onclick="openTab('tab-files')">
      {{ else if eq $fileCount 1 }}
        <a class="button-dft" href="{{ index $files 0 }}">
      {{ end }}
            <i class="material-icons icon">download</i>
            Download
        </a> 
    </div>
    <div class="sidebar_r-inner">
        <span class="sidebar_r-title">Details</span>
        <table class="mod-meta">
            <tr class="thead">
              <td class="td-cat">Game</td>
              <td>{{ .Params.game }}</td>
            </tr>
            <tr class="tr-alt">
              <td class="td-cat">Required Expansions</td>
              <td>{{ partial "class-reqexp.html" . }}</td>
            </td>
            <tr>
              <td class="td-cat">Original Release</td>
              <td>{{ .Params.orig_rel_date }}</td>
            </tr>
            <tr class="tr-alt">
              <td class="td-cat">Archive Date</td>
              <td>{{ .Params.Date | time.Format "2006-01-02" }}</td>
            </tr>
            <tr>
              <td class="td-cat">Original Platform</td>
              <td>
                {{ range .Params.orig_rel_at }}
                  <a class="badge-default">{{ . }}</a>
                {{ end }}
              </td>
            </tr>
            <tr class="tr-alt">
              <td class="td-cat">Author Allows Derivative Works?</td>
              <td>{{ .Params.license }}</td>
            </tr>
            <tr>
              <td class="td-cat">Languages</td>
              <td>{{ partial "class-languages.html" . }}</td>
            </tr>
        </table>
      </div>
</div>
