<div class="sidebar">
    <a href="/" title="ZooBerry" class="nav-logo"></a>
    {{/*  <h3>Zoo Tycoon 1</h3>
    {{- $page := .page }}
    {{- $menuID := .menuID }}
          
    {{- with index site.Menus "zt1" }}
            <ul class="side-ul">
            
            {{ $currentPage := . }}
            {{ range . }}
                <li class="side-li side-li-{{ .Name | urlize }}">
                    <a href="{{ .PageRef }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
    {{- end }}
    <h3>Zoo Tycoon 2</h3>

    {{- with index site.Menus "zt2" }}
            <ul class="side-ul">
            {{ $currentPage := . }}
            {{ range . }}
                <li class="side-li side-li-{{ .Name | urlize }}">
                    <a href="{{ .PageRef }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
    {{- end }}
    <h3>Filters</h3>

    {{- with index site.Menus "filters" }}
            <ul class="side-ul">
            {{ $currentPage := . }}
            {{ range . }}
                <li>
                    <a href="{{ .PageRef }}">{{ .Name }}</a>
                </li>
            {{ end }}
            </ul>
    {{- end }}  */}}

    <ul class="side-ul main-menu">
        <li class="side-kofi"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Us on Ko-fi', 'var(--kofi)', 'U7U6UXNXD');kofiwidget2.draw();</script></li>
        {{- with index site.Menus "main" }}
            {{ range . }}
                <li class="side-li">
                    <a class="dropbtn" href="{{ .PageRef }}"><i class="material-icons icon">{{ .Params.icon }}</i> {{ .Name }}</a>
                    {{ if .HasChildren }}
                        <ul class="submenu">
                            {{ range .Children }}
                                <li><a href="{{ .PageRef }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{- end }}    
                </li>
            {{ end }}
        {{- end }}
    </ul>
    <br>
    <ul class="side-ul">
        <a class="dropbtn" href="/mods/zt1"><li class="side-li"><i class="material-icons icon">arrow_forward</i> Latest Mods</li></a>
        <a class="dropbtn" href="/mods/zt2"><li class="side-li"><i class="material-icons icon">groups</i> Author List</li></a>
        <a class="dropbtn" href="/mods/zt1"><li class="side-li"><i class="material-icons icon">archive</i> Archived Websites</li></a>
        <a class="dropbtn" href="/mods/zt2"><li class="side-li"><i class="material-icons icon">design_services</i> Design Teams</li></a>
    </ul>


    <label class="switch">
        <input type="checkbox" id="theme-switcher">
        <div class="slider round"></div>
    </label>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const themeSwitcher = document.getElementById('theme-switcher');
          
            // Load saved theme preference
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
              document.body.classList.add('dark');
              themeSwitcher.checked = true;
            }
          
            // Detect OS preference if no saved preference
            else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
              document.body.classList.add('dark');
              themeSwitcher.checked = true;
            }
          
            // Handle toggle switch
            themeSwitcher.addEventListener('change', function() {
              document.body.classList.toggle('dark');
              localStorage.setItem('theme', this.checked ? 'dark' : 'light');
            });
          });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuLinks = document.querySelectorAll('.dropbtn');
        
            menuLinks.forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    const submenu = this.nextElementSibling;
        
                    // Close all other submenus
                    document.querySelectorAll('.submenu').forEach(sub => {
                        if (sub !== submenu) {
                            sub.classList.remove('submenu-open');
                        }
                    });
        
                    // Toggle the clicked submenu
                    submenu.classList.toggle('submenu-open');
                });
            });
        });
    </script>
</div>
