{{ $files := .Resources.Match "/*.zip" }}
{{ $fileCount := len $files }}

<div class="mod-post-info">
  <h1>{{.Title}}</h1>
  <p>{{ .Summary }}</p> 
    <span class="author-meta">
      <p>Created By</p>
      {{ $len := len .Params.author }}
      {{ $lastAuthor := index .Params.author (sub $len 1) }}
      {{ range $index, $author := .Params.author }}
          {{ if eq $len 1 }}
              <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
          {{ else if eq $len 2 }}
              {{ if eq $index 0 }}
              <a href="/authors/{{ $author | urlize }}">{{ $author }}</a> and
              {{ else }}
              <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
              {{ end }}
          {{ else }}
              {{ if eq $author $lastAuthor }}
                  and <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>
              {{ else }}
              <a href="/authors/{{ $author | urlize }}">{{ $author }}</a>,
              {{ end }}
          {{ end }}
      {{ end }}
          </span>
    <div class="mod-deets">
      {{/*  <div><i class="material-icons icon">download</i> <span>10</span></div>
      <div><i class="material-icons icon">visibility</i> <span>10</span></div>  */}}
      <div><i class="material-icons icon">calendar_month</i> <span>{{ .Date.Format "2 Jan 2006" }}</span></div>
    </div>

    <div class="sidebar_r-inner">
      {{ if gt $fileCount 1 }}
        <a class="button-dft" href="#files" onclick="openTab('tab-files')">
      {{ else if eq $fileCount 1 }}
        <a class="button-dft" href="{{ .Site.Params.cdn }}{{.RelPermalink}}{{ index $files 0 }}">
      {{ end }}
            <i class="material-icons icon">download</i>
            Download
        </a> 
    </div>
</div>
