{{ define "main" }}
    {{ $author := .Title }}

    {{/*  Author meta data  */}}
    {{ $modCount := 0 }}
    {{ $allTagsAssociated := slice }}
    {{ $languagesByAuthor := slice }}
    {{ $websitesPublishedOn := slice }}
    {{ $collaborators := slice }}
    {{ $yearsActive := slice }}
    {{ $modsByAuthor := slice }}

    {{ $mods := where .Site.RegularPages "Type" "mods" }}

    {{/*  Populate meta data  */}}
    {{ range $mods }}
        {{ $curentMod := . }}
        {{ $authors := .Params.author }}
        {{ $tags := .Params.tags }}
        {{ $languages := .Params.languages }}
        {{ $websites := .Params.orig_rel_at }}
        {{ $years := .Params.orig_rel_date }}
        {{ range $authors }}
            {{ if eq . $author }}
                {{ $modCount = add $modCount 1 }}

                {{/*  Grab all tags published by author (if any)  */}}
                {{ with $tags }}
                    {{ range . }}
                        {{ if not (in $allTagsAssociated .) }}
                            {{ if not (eq . "all") }}
                                {{ $allTagsAssociated = $allTagsAssociated | append . }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{/*  Grab all languages published by author (if any)  */}}
                {{ with $languages }}
                    {{ range . }}
                        {{ if not (in $languagesByAuthor .) }}
                            {{ $languagesByAuthor = $languagesByAuthor | append . }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{/*  Grab all websites published on by author (if any)  */}}
                {{ with $websites }}
                    {{ range . }}
                        {{ if not (in $websitesPublishedOn .) }}
                            {{ $websitesPublishedOn = $websitesPublishedOn | append . }}
                        {{ end }}
                    {{ end }}
                {{ end }}

                {{/*  Grab all years active by author (if any)  */}}
                {{ with $years }}
                    {{/*  Only keep the year (it's in 2006-03-14 format)  */}}
                    {{ $year := index (split . "-") 0 }}
                    {{ if not (in $yearsActive $year) }}
                        {{ $yearsActive = $yearsActive | append $year }}
                    {{ end }}
                {{ end}}

                {{/*  Grab all mods by author  */}}
                {{ if not (in $modsByAuthor $curentMod) }}
                    {{ $modsByAuthor = $modsByAuthor | append $curentMod }}
                {{ end }}

            {{ end }}

            {{/*  Grab all collaborators that worked with author */}}
            {{ if not (in $collaborators .) }}
                {{ if in $authors $author }}
                    {{ if not (eq . $author) }}
                        {{ $collaborators = $collaborators | append . }}
                    {{ end }}
                {{ end }}
            {{ end }}
        
        {{ end }}
    {{ end }}

    {{/*  Get the latest mod's image  */}}
    {{ $latestMod := index $modsByAuthor 0 }}
    {{ $imageFromLatestMod := "" }}

    {{ if $latestMod }}
        {{ $image := $latestMod.Resources.GetMatch "images/*" }}
        {{ if $image }}
            {{ $imageFromLatestMod = $image.RelPermalink }}
        {{ end }}
    {{ end }}
<div style="display: flex; flex-direction: column; margin: 2rem 0; width:100%;">
    {{ partial "breadcrumbs.html" . }}
    <h1 style="margin:0;">{{ .Title }}</h1>
    <p style="margin:0;padding:0;"><i class="material-icons icon">extension</i> {{ $modCount }} Mods Published</p>

    <div class="banner-box" style="margin: 2rem 0; width: 100%; background: center center / cover no-repeat url('{{ $imageFromLatestMod }}'); height: 300px;">

    </div>
    <div style="display: flex; flex-direction: row;width: 100%;">
        <div style="margin-right: 2rem;">

            <p><h1 style="margin-top:-1rem;padding:0;">Mods Published</h1> 
                {{ $paginator := .Paginate $modsByAuthor }}
                {{ template "_internal/pagination.html" (dict "paginator" $paginator "page" .) }}

                <ul class="box-card-list">
                    {{ range $paginator.Pages }}
                        <li class="box-card-mods">
                            <div class="box-card-mods-img">
                                {{/*  get first image from images folder in this bundle */}}
                                {{ $thumbnail := "" }}
                                {{ with (.Resources.GetMatch "images/*") }}
                                    {{ $processedImage := .Fill "300x200 center" }} <!-- Adjust dimensions as needed -->
                                    {{ $thumbnail = $processedImage.RelPermalink }}
                                {{ end }}
                    
                                <a href="{{ .RelPermalink }}">
                                    <img src="{{ $thumbnail }}" alt="{{ .LinkTitle }}">
                                </a>
                            </div>
                            <div class="box-card-mods-content">
                                    <p>
                                    {{ if eq .Params.game "Zoo Tycoon 1" }}
                                        <a href="mods/zt1">{{ .Params.game }}</a>
                                    {{ else if eq .Params.game "Zoo Tycoon 2" }}
                                        <a href="mods/zt2">{{ .Params.game }}</a>
                                    {{ else }}
                                        {{ .Params.game }}
                                    {{ end }}
                                    </p>
                                <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                                <p>by 
                                    {{ $authors := .Params.author }}
                                    {{ $siteBaseURL := .Site.BaseURL }}    
                                    {{ with .Params.team }}
                                        <a href="{{ $siteBaseURL }}teams/{{ . | urlize }}">{{ . }}</a>
                                    {{ else }}
                                        {{ with $authors }}
                                            {{ $len := len $authors }}
                                            {{ if eq $len 1 }}
                                                <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>
                                            {{ else if eq $len 2 }}
                                                <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a> and <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a>
                                            {{ else }}
                                                <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>, <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a> and {{ sub $len 2 }} more
                                            {{ end }}
                                        {{ end }}
                                    {{ end }}
                                        </p>
                                <span class="box-card-bottom">
                                    {{ partial "class-badges.html" . }}
                                    <span class="box-card-date">{{ .Date.Format "2 Jan 2006" }}</span>
                                </span>
                            </div>
                        </li>
                    {{ end }}
                </ul>
                {{ template "_internal/pagination.html" (dict "paginator" $paginator "page" .) }}
            </p>
        </div>
        <div class="sidebar_r">
            <div class="sidebar_r-inner">
                {{ if not (eq (len $languagesByAuthor) 0) }}
                    <span class="sidebar_r-title">Languages</span>
                    <div class="side-ul filter-tags">
                        {{ range $languagesByAuthor }}
                            <a class="badge-default" href="/languages/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                {{ end }}
                <span class="sidebar_r-title">Published On</span>
                <div class="side-ul filter-tags">
                    {{ range $websitesPublishedOn }}
                        <a class="badge-default" href="{{ . }}">{{ . }}</a>
                    {{ end }}
                </div>
                {{ if not (eq (len $collaborators) 0) }}
                    <span class="sidebar_r-title">Previous Collaborators</span>
                    <div class="side-ul filter-tags">
                        {{ range $collaborators }}
                            <a class="badge-default" href="/authors/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                {{ end }}
                <span class="sidebar_r-title">Years Active</span>
                <div class="side-ul filter-tags">
                    {{ range $yearsActive }}
                        <a class="badge-default" href="/years/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
                <span class="sidebar_r-title">Tags</span>
                <div class="side-ul filter-tags">
                    {{ range $allTagsAssociated }}
                        <a class="badge-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
        
    </div>
</div>
{{ end }}