{{ define "main" }}
    {{ if .Params.list }}
        
        {{ $team := .Title }}
        {{/*  Author meta data  */}}
        {{ $websiteCount := 0 }}
        {{ $modCount := 0 }}
        {{ $allTagsAssociated := slice }}
        {{ $languagesByAuthor := slice }}
        {{ $websitesPublishedOn := slice }}
        {{ $collaborators := slice }}
        {{ $yearsActive := slice }}
        {{ $modsByTeam := slice }}

        {{ $archivedList := slice }}

        {{ $mods := where .Site.RegularPages "Type" "mods" }}
        {{ $websites := .Sections }}

        {{/*  Store list of website names from archived-websites  */}}
        {{ $websiteCount = len $websites }}

        {{/*  Populate meta data  */}}
        <div style="display: flex; flex-direction: column; margin: 2rem 0; width:100%;">
            <h1 style="margin:0;">{{ .Title }}</h1>
            <p style="margin:0;padding:0;"><i class="material-icons icon">archive</i>{{$websiteCount}} Archived</p>
        
            <div style="display: flex; flex-direction: row;width: 100%;">
                <div style="width:100%;margin-right: 2rem;">
                    <table class="tb-df">
                        <thead class="tb-th">
                            <tr>
                              <th>Website</th>
                              <th>File Count</th>
                              <th>Tags</th>
                            </tr>
                        </thead>

        {{ range $websites }}
            {{ $curWebsite := .Title }}
            {{ $modCount = 0 }}
            {{ range $mods }}
                {{ $curentMod := . }}
                {{ $curWebsiteList := .Params.orig_rel_at }}
                {{ $authors := .Params.author }}
                {{ $tags := .Params.tags }}
                {{ $languages := .Params.languages }}
                {{ $websites := .Params.orig_rel_at }}
                {{ $years := .Params.orig_rel_date }}
                {{ if in $curWebsiteList $curWebsite }}
                    {{ $modCount = add $modCount 1 }}

                    {{/*  Grab all tags published by author (if any)  */}}
                    {{ with $tags }}
                        {{ range . }}
                            {{ if not (in $allTagsAssociated .) }}
                                {{ if not (eq . "all") }}
                                    {{ $allTagsAssociated = $allTagsAssociated | append . }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{/*  Grab all languages published by author (if any)  */}}
                    {{ with $languages }}
                        {{ range . }}
                            {{ if not (in $languagesByAuthor .) }}
                                {{ $languagesByAuthor = $languagesByAuthor | append . }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{/*  Grab all years active by team (if any)  */}}
                    {{ with $years }}
                        {{/*  Only keep the year (it's in 2006-03-14 format)  */}}
                        {{ $year := index (split . "-") 0 }}
                        {{ if not (in $yearsActive $year) }}
                            {{ $yearsActive = $yearsActive | append $year }}
                        {{ end }}
                    {{ end}}

                    {{/*  Grab all mods by team  */}}
                    {{ if not (in $modsByTeam $curentMod) }}
                        {{ $modsByTeam = $modsByTeam | append $curentMod }}
                    {{ end }}

                {{ end }}
            {{ end }}
            <tr class="tb-tr">
                <td class="tb-td">
                    <a href="{{ .Title | urlize }}">{{ .Title }}</a>
                </td>
                <td class="tb-td">
                    {{ $modCount }}
                </td>
                <td class="tb-td">
                    <div class="filter-tags">
                        {{ range $allTagsAssociated }}
                            <a class="badge-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
                        {{ end }}
                    </div>
                </td>
            </tr>
            
        {{ end }}
    </table>
        
    </div>
    <div class="sidebar_r">
        <div class="sidebar_r-inner">
            <span class="sidebar_r-title">Description</span>
            <p style="padding: 0 2rem 0 2rem;">{{ .Params.description }}</p>
            <span class="sidebar_r-title">Languages</span>
            <div class="side-ul filter-tags">
                {{ range $languagesByAuthor }}
                    <a class="badge-default" href="/languages/{{ . | urlize }}">{{ . }}</a>
                {{ end }}
            </div>

        </div>
    </div>

    </div>
    </div>
    {{ else }}  
    {{ $website := .Title }}

    {{/*  Author meta data  */}}
    {{ $websiteCount := 0 }}
    {{ $modCount := 0 }}
    {{ $allTagsAssociated := slice }}
    {{ $languagesByAuthor := slice }}
    {{ $websitesPublishedOn := slice }}
    {{ $collaborators := slice }}
    {{ $yearsActive := slice }}
    {{ $modsByTeam := slice }}


    {{ $archivedList := slice }}

    {{ $mods := where .Site.RegularPages "Type" "mods" }}
    {{/*  Obtain all subsections of Section "archived-website"  */}}
    {{ $websites := where .Site.RegularPages "Type" "archived-website" }}
    {{ $pageSize := 30 }} <!-- Items per page -->
    {{ $pageNumber := .Param "page" | default 1 | int }} <!-- Get current page number from URL or default to 1 -->
    {{ $totalPages := div (add (len $websites) $pageSize) $pageSize }}

    {{ $websites := where site.RegularPages "Params.orig_rel_at" "intersect" (slice $website) }}

    {{ $paginate := .Paginate $websites 30 }}

    {{/*  Store list of website names from archived-websites  */}}
    {{ $websiteCount = len $websites }}
    {{ $modCount = len $websites }}


    {{ range $paginate.Pages }}
                {{ $curentMod := . }}
                {{ $curWebsite := .Params.orig_rel_at }}
                {{ $authors := .Params.author }}
                {{ $tags := .Params.tags }}
                {{ $languages := .Params.languages }}
                {{ $websites := .Params.orig_rel_at }}
                {{ $years := .Params.orig_rel_date }}
                {{ if in $curWebsite $website }}

                    {{/*  Grab all tags published by author (if any)  */}}
                    {{ with $tags }}
                        {{ range . }}
                            {{ if not (in $allTagsAssociated .) }}
                                {{ if not (eq . "all") }}
                                    {{ $allTagsAssociated = $allTagsAssociated | append . }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{/*  Grab all languages published by author (if any)  */}}
                    {{ with $languages }}
                        {{ range . }}
                            {{ if not (in $languagesByAuthor .) }}
                                {{ $languagesByAuthor = $languagesByAuthor | append . }}
                            {{ end }}
                        {{ end }}
                    {{ end }}

                    {{/*  Grab all years active by team (if any)  */}}
                    {{ with $years }}
                        {{/*  Only keep the year (it's in 2006-03-14 format)  */}}
                        {{ $year := index (split . "-") 0 }}
                        {{ if not (in $yearsActive $year) }}
                            {{ $yearsActive = $yearsActive | append $year }}
                        {{ end }}
                    {{ end}}

                    {{/*  Grab all mods by team  */}}
                    {{ if not (in $modsByTeam $curentMod) }}
                        {{ $modsByTeam = $modsByTeam | append $curentMod }}
                    {{ end }}

                {{ end }}


            {{ end }}

            {{/*  Get the latest mod's image  */}}
            {{ $latestMod := index $modsByTeam 0 }}
            {{ $imageFromLatestMod := "" }}

            {{ if $latestMod }}
                {{ $image := $latestMod.Resources.GetMatch "images/*" }}
                {{ if $image }}
                    {{ $imageFromLatestMod = $image.RelPermalink }}
                {{ end }}
            {{ end }}
        <div style="display: flex; flex-direction: column; margin: 2rem 0; width:100%;">
            <h1 style="margin:0;">{{ .Title }}</h1>
            <p style="margin:0;padding:0;"><i class="material-icons icon">extension</i> {{ $modCount }} Mods Published</p>

            <div class="banner-box" style="margin: 2rem 0; width: 100%; background: center center / cover no-repeat url('{{ .RelPermalink}}/images/banner.png'); border-radius: 20px; height: 300px;">

            </div>
            <div style="display: flex; flex-direction: row;width: 100%;">
                <div style="margin-right: 2rem;">

                    <p><h1 style="margin-top:-1rem;padding:0;">Library</h1> 
                        {{ template "_internal/pagination.html" (dict "paginator" $paginate "page" .) }}

                        <ul class="box-card-list">
                            {{ range $modsByTeam }}
                                <li class="box-card-mods">
                                    <div class="box-card-mods-img">
                                        {{/*  get first image from images folder in this bundle */}}
                                        {{ $thumbnail := "" }}
                                        {{ with (.Resources.GetMatch "images/*") }}
                                            {{ $processedImage := .Fill "300x200 center" }} <!-- Adjust dimensions as needed -->
                                            {{ $thumbnail = $processedImage.RelPermalink }}
                                        {{ end }}
                                        <a href="{{ .RelPermalink }}">
                                            <img src="{{ $.Site.Params.cdn }}{{ $thumbnail }}" alt="{{ .LinkTitle }}">
                                        </a>
                                    </div>
                                    <div class="box-card-mods-content">
                                            <p>
                                            {{ if eq .Params.game "Zoo Tycoon 1" }}
                                                <a href="mods/zt1">{{ .Params.game }}</a>
                                            {{ else if eq .Params.game "Zoo Tycoon 2" }}
                                                <a href="mods/zt2">{{ .Params.game }}</a>
                                            {{ else }}
                                                {{ .Params.game }}
                                            {{ end }}
                                            </p>
                                        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                                        <p>by 
                                            {{ $authors := .Params.author }}
                                            {{ $siteBaseURL := .Site.BaseURL }}    
                                            {{ with .Params.team }}
                                                <a href="{{ $siteBaseURL }}teams/{{ . | urlize }}">{{ . }}</a>
                                            {{ else }}
                                                {{ with $authors }}
                                                    {{ $len := len $authors }}
                                                    {{ if eq $len 1 }}
                                                        <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>
                                                    {{ else if eq $len 2 }}
                                                        <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a> and <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a>
                                                    {{ else }}
                                                        <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>, <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a> and {{ sub $len 2 }} more
                                                    {{ end }}
                                                {{ end }}
                                            {{ end }}
                                                        </p>
                                        <span class="box-card-bottom">
                                            {{ partial "class-badges.html" . }}
                                            <span class="box-card-date">{{ .Date.Format "2 Jan 2006" }}</span>
                                        </span>
                                    </div>
                                </li>
                            {{ end }}
                        </ul>
                        {{/*  {{ template "_internal/pagination.html" (dict "paginator" $paginator "page" .) }}  */}}
                    </p>
                    {{ template "_internal/pagination.html" (dict "paginator" $paginate "page" .) }}

                </div>
                <div class="sidebar_r">
                    <div class="sidebar_r-inner">
                        <span class="sidebar_r-title">Description</span>
                        <p style="padding: 0 2rem 0 2rem;">{{ .Params.description }}</p>
                        <span class="sidebar_r-title">Languages</span>
                        <div class="side-ul filter-tags">
                            {{ range $languagesByAuthor }}
                                <a class="badge-default" href="/languages/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                        <span class="sidebar_r-title">Members</span>
                        <div class="side-ul filter-tags">
                            {{ range .Params.members }}
                                <a class="badge-default" href="/authors/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                        <span class="sidebar_r-title">Years Active</span>
                        <div class="side-ul filter-tags">
                            {{ range $yearsActive }}
                                <a class="badge-default" href="/years/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                        <span class="sidebar_r-title">Tags</span>
                        <div class="side-ul filter-tags">
                            {{ range $allTagsAssociated }}
                                <a class="badge-default" href="/tags/{{ . | urlize }}">{{ . }}</a>
                            {{ end }}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {{ end }}
{{ end }}