.badge-default {
    background-color: var(--shade-bg);
    color: var(--link-color);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
    width: max-content;
}

.badge-animals {
    background-color: var(--animals);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-objects {
    background-color: var(--objects);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-maps  {
    background-color: var(--maps);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-packs {
    background-color: var(--packs);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-assets {
    background-color: var(--assets);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-hacks {
    background-color: var(--hacks);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-tools-utilities {
    background-color: var(--tools-utilities);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-texture-mods {
    background-color: var(--texture-mods);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-remakes {
    background-color: var(--remakes);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-biomes {
    background-color: var(--biomes);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}

.badge-alert {
    background-color: var(--alert);
    color: var(--contrast-font);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    border: 1px solid var(--secondary-border);
}
