.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: 700;
    color: var(--font-color);
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1;
}
  
.post-content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--animals);
}

.post-content h2 {
    font-size: 1.6rem;
}

.post-content h3 {
    font-size: 1.4rem;
}

.post-content h4 {
    font-size: 1.2rem;
}

.post-content h5 {
    font-size: 1rem;
}

.post-content h6 {
    font-size: 0.8rem;
}
  
/* .post-content p {
margin: 0.5rem 0;
    padding-left: 2rem;
}

.post-content ul {
    margin: 0.5rem 0;
    padding-left: 2rem;
} */

/* Blog Nav */

.blog-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 11rem;
    background-color: var(--accent-bg);
    margin-top: 4rem;
    width: 100%;
}

.blog-nav a {
    display: inline-block;
    transition: all 0.2s ease 0s;
    padding: 0.25rem 1rem;
}

.blog-nav a:hover {
    color: var(--font-color);
    background-color: var(--shade-bg);
    border-radius: 5px;
}

.blog-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-nav ul li {
    padding: 0.25rem 0;
    text-align: center;
}

.rm-top {
    margin: 0 !important;
}