.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: 700;
    color: var(--font-color);
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1;
}
  
.post-content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--animals);
}

.post-content h2 {
    font-size: 1.6rem;
}

.post-content h3 {
    font-size: 1.4rem;
}

.post-content h4 {
    font-size: 1.2rem;
}

.post-content h5 {
    font-size: 1rem;
}

.post-content h6 {
    font-size: 0.8rem;
}
  
/* .post-content p {
margin: 0.5rem 0;
    padding-left: 2rem;
}

.post-content ul {
    margin: 0.5rem 0;
    padding-left: 2rem;
} */

/* Blog Nav */

.blog-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 11rem;
    background-color: var(--accent-bg);
    margin-top: 4rem;
    width: 100%;
}

.blog-nav a {
    display: inline-block;
    transition: all 0.2s ease 0s;
    padding: 0.25rem 1rem;
}

.blog-nav a:hover {
    color: var(--font-color);
    background-color: var(--shade-bg);
    border-radius: 5px;
}

.blog-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-nav ul li {
    padding: 0.25rem 0;
    text-align: center;
}

.rm-top {
    margin: 0 !important;
}

/* Containers */

.article-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    z-index: 0;
    height: 100%;
}

.article {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}


.article-post {
    width: 100%;
    margin-right: 2rem;
    padding: 2rem;
    border-radius: 5px;
    border: 1px solid var(--secondary-border);
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.article-main-img {
    width: 100%;
    height: 50px;
    margin-bottom: 1rem;
    background: var(--logo) no-repeat left center;
}

.knowledge-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.knowledge-card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--secondary-border);
    margin: 1rem 0;
}

.knowledge-card img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-right: 1rem;
}

.article-toc {
    position: sticky;
    top: 2rem; /* Stick to the top */
    padding: 2rem;
    border-radius: 5px;
    background: var(--shade-bg);
    border: 1px solid var(--secondary-border);
    z-index: 1000;
    width: 300px;
    margin-top: 2rem;
    height: max-content;

}

.article-toc ul {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

#table-of-contents----omit-in-toc--- {
    display: none;
}

.article-toc h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--animals);
    margin: 0;
    padding: 0.5rem 0;
    line-height: 1;
}

.post-subheader {
    border: 1px solid var(--secondary-border);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
    background: var(--secondary-bg);
}