
.breadcrumbs {
    list-style: none;
    gap: 0.5rem;
    margin-bottom: 1rem;
    background: var(--shade-bg);
    padding: 0.5rem 2rem;
}

.breadcrumbs a::after {
    content: "/";
    margin-left: 0.5rem;
}

.breadcrumbs a:last-child::after {
    content: ""; /* No trailing slash for the last item */
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--link-color);
}

.breadcrumbs .active {
    color: var(--font-color);
    font-weight: bold;
}
