
.breadcrumbs {
    display: block;
    margin-bottom: 1rem;
    background: var(--secondary-bg);
    border-radius: 5px;
}

/* GALLERIA */

.galleria { 
    width: 100%; 
    height: 500px; 
    margin-bottom: 1rem;
}

.galleria-lightbox-box {
    background-color: #3c4455;
    border: 1px solid #444C5E;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}

.galleria-lightbox-shadow {
    display: none;
}

div.galleria-lightbox-content {
    background-color: #3c4455;
    border-radius: 5px;
}

div.galleria-lightbox-image img {
    border: 1px solid #626e88;
}

div.galleria-lightbox-close {
    border-radius: 5px;
    width: 4rem;
    height: 4rem;
    opacity: 0.5;
    background-color: #272c36;
    font-size: 4rem;
    padding: 2rem 1rem 0 1rem;
}

div.galleria-lightbox-next, div.galleria-lightbox-prev {
    background-color: #272c36;
    border-radius: 5px;
    padding: 1rem;
    font-size: 2rem;
    opacity: 0.5;
    color: #cecece;
}

div.galleria-lightbox-next:hover, div.galleria-lightbox-prev:hover,
div.galleria-lightbox-close:hover {
    opacity: 0.8;
}

div.galleria-lightbox-close:hover {
    opacity: 0.8;
}

div.galleria-thumbnails-container-zb {
}
