/* Buttons */

.button-dft {
    background: var(--accent-bg);
    color: var(--font-color);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease 0s;
    margin: 1rem 0;
    width: max-content;
    white-space: nowrap;
    flex-shrink: 0;
  }
  
  .button-dft:hover {
    background: var(--accent-bg-alt);
    color: var(--font-color);
    transition: background 0.3s ease-in-out;
  }
  
  .button-dft:active {
    background: var(--accent-bg-alt);
    box-shadow: rgba(0, 0, 0, 1) -1px 1px 2px;
    color: var(--font-color);
    transform: translateY(2px);
    text-shadow: #fa8e00 0 0 13px; 
  }  

/* Front page buttons */

.post-buttons {
  margin: 3rem 0 4rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

  /* Mod Page */

div.sidebar_r-inner a.button-dft {
    display: block;
    margin: 0.5rem auto;
}