.box-card-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    margin-top: 2rem;
}

.box-card-mods {
    background-color: var(--tbody-bg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: border 0.5s ease-in 3s;
}

.box-card-mods {
    overflow: hidden;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;

    img {
        transform: scale(1);
        transition: transform 0.35s ease-in-out;
    }

    &:hover {
        filter: brightness(1.2);
        transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;

        img {
            transform: scale(1.05);
        }
    }
}

.box-card-mods h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.box-card-mods p {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.box-card-summary {
    border-top: 1px solid var(--secondary-border);
    padding: 1rem 0;
    display: block;
}

.box-card-mods-img {
    display: block;
    width: 100%;
    height: auto;
}

.box-card-mods-img img {
    width: 100%;
}

.box-card-mods-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between; 
}

.box-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-top: auto;
}

.box-card-date {
    font-size: 0.8rem;
}

.post-content .box-card-mods h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    background: var(--thead-bg);
    padding: 0.5rem 1rem;
}

.box-card-mods .button-dft {
    margin: 1rem 0;
    display: block;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



/* Blog */

.blog-card-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
    margin-top: 2rem;
}

.blog-card-list img {
    width: 100%;
    height: 200px;
}

.box-card-blogs {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: var(--tbody-bg);
}

.box-card-blogs:hover {
    background-color: var(--primary-bg);
    overflow: hidden;
    transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;

    img {
        transform: scale(1);
        transition: transform 0.35s ease-in-out;
    }

    &:hover {
        filter: brightness(1.1);
        transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;

        img {
            transform: scale(1.05);
        }
    }
}

.box-card-blogs h3 {
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.blog-card-date {
    font-size: 0.8rem;
    padding-top: 0;
    margin: 0 0 1rem 0;
    opacity: 0.7;
}

.blog-card-content span {
    padding: 0.5rem 0.8rem;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--animals);
    color: var(--contrast-font);
}

span.blog-card-summary {
    background-color: var(--animals) !important;
}

span.blog-card-update {
    background: var(--objects) !important;
}

.blog-card-content {
    margin: 0 0.7rem;
    padding: 1rem 0;
}

@media screen and (max-width: 1920px) {
    .box-card-list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

}

@media screen and (max-width: 720px) {
    .box-card-list {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .box-card-mods {
        margin-right: 0;
    }


    .blog-card-list {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 470px) {
    .box-card-list {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .blog-card-list {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}