.box-card-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}

.box-card-mods {
    background-color: var(--primary-bg);
    outline: 1px solid var(--secondary-border);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s, transform 2s;
    /* outline-offset: -1px; */
}

.box-card-mods:hover {
    outline: 1px solid var(--accent-bg);
    filter: brightness(1.1);
    transform: translateY(-1px);
}

.box-card-mods h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.box-card-mods p {
    font-size: 0.8rem;
    margin: 0;
}

.box-card-summary {
    border-top: 1px solid var(--secondary-border);
    padding: 1rem 0;
    display: block;
}

.box-card-mods-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.box-card-mods-img img {
    width: 100%;
}

.box-card-mods-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box-card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px solid var(--secondary-border);
}

.box-card-date {
    font-size: 0.8rem;
}

.box-card-mods h2 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    background: var(--thead-bg);
    padding: 0.5rem 1rem;
}

.box-card-mods .button-dft {
    margin: 1rem 0;
    display: block;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (max-width: 1920px) {
    .box-card-list {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}