
/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --space-grotesk: "Space Grotesk", sans-serif;
  --dm-sans: "DM Sans", sans-serif;

  /* Colors */
  --primary-bg: #223049;
  --secondary-bg: #1b263b;
  --shade-bg: #0d1b2a;
  --accent-bg: #b85454;
  --secondary-border: #324363;
  --font-color: #e0e1dd;
  --link-color: #fff;
}


body {
  color: var(--font-color);
  font-family: "DM Sans", "Space Grotesk", 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  background: var(--primary-bg);
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  margin: 4rem 0 0 300px;
  padding: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-bg);
}

main {
  margin: 4rem 0 0 250px;
  padding: 2rem;
}

.content {
  /* have all blocks inside fit side-by-side */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}