
/* .space-grotesk-<uniquifier> {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
  --space-grotesk: "Space Grotesk", sans-serif;
  --dm-sans: "DM Sans", sans-serif;

  /* Colors Swatches */
  --primary-bg: #223049;
  --secondary-bg: #1b263b;
  --shade-bg: #0d1b2a;
  --accent-bg: #b85454;
  --secondary-border: #324363;
  --sidebar-bg: var(--shade-bg);

  --body-pattern: repeating-linear-gradient( 45deg, #273651, #27344b 1px, var(--primary-bg) 1px, var(--primary-bg) 25px );

  /* Font Colors */
  --font-color: #e0e1dd;
  --link-color: #fff;
  --link-hover-color: #ad7335;
  --contrast-font: #e0e1dd;

  /* Table Colors */
  --tbody-bg: var(--shade-bg);
  --thead-bg: var(--shade-bg);
  --thead-bg-alt: var(--primary-bg);

  /* Buttons */
  --kofi: #29abe2;
  --sidebar-hover: #212b3b;
  --sidebar-icons: #323944;

  /* Categorical Colors */
  --animals: #276d8b;
  --assets: #a8437e;
  --biomes: #774949;
  --hacks: #523792;
  --maps: #889229;
  --objects: #2e803c;
  --packs: #744a23;
  --remakes: #b85454;
  --texture-mods: #86334f;
  --tools-utilities: #7e5b33;

  /* Misc Badges */
  --alert: var(--accent-bg);

  /* Images */
  --logo: url('/logo.png') no-repeat !important;
}

.dark  {
  /* Colors Swatches */
  --primary-bg: #d9e6c7;
  --secondary-bg: #d4e8b7;
  --shade-bg: #f5eaca;
  --accent-bg: #9fc000;
  --secondary-border: #ccc;
  --sidebar-bg: var(--primary-bg);

  --body-pattern: repeating-linear-gradient( 45deg, var(--shade-bg), var(--shade-bg) 1px, var(--primary-bg) 1px, var(--primary-bg) 25px );

  /* Font Colors */
  --font-color: #6f5e5e;
  --link-color: #615252;
  --link-hover-color: #ad7335;
  --contrast-font: var(--primary-bg);

  /* Buttons */
  --kofi: var(--link-color);
  --sidebar-hover: #afbd9c;
  --sidebar-icons: #c4cfb4;

  /* Misc Badges */
  --alert: var(--accent-bg);

  /* Table Colors */
  --tbody-bg: #bace9c;
  --thead-bg: #bace9c;
  --thead-bg-alt: #cbd9b6;

  /* Images */
  --logo: url('/logo-lt.png') no-repeat !important;
}


body {
  color: var(--font-color);
  font-family: "DM Sans", "Space Grotesk", 'Roboto', sans-serif;
  line-height: 1.5;
  margin: 0;
  background: var(--body-pattern);
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
  margin: 4rem 0 0 300px;
  padding: 1rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
}

/* main (backup) {
  margin-left: 250px;
  padding: 2rem;
  max-width: 1500px;
} */

.content {
  /* have all blocks inside fit side-by-side */
  display: flex;
  flex-direction: row;
}

.body-content {
  margin-right: 2rem;
  width: 70%;
}

.box-frontpage {
  border-radius: 5px;
  border: 1px solid var(--secondary-border);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: url(/bear.webp) no-repeat top -2rem right -6rem / 50%;
}

.box-frontpage p {
  width: 70%;
}

.margin-rt {
  margin-right: 1rem;
}

.flt-rt {
  float: right;
}

.center {
  display: flex;
  justify-content: center;
}

code {
  color: var(--font-color);
  background: var(--thead-bg);
  padding: 0.2rem 0.4rem;
  border-radius: 0.3rem;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;
  word-wrap: break-word;
}

blockquote {
  background: var(--shade-bg); 
  border-left: 5px solid var(--accent-bg);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

pre {
  background: var(--thead-bg) !important;
  color: var(--accent-bg);
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

pre code {
  background-color: inherit; /* Ensure the code block inherits the pre background */
}

.cat-blurb  {
  background: var(--secondary-bg);  
  border-left: 5px solid var(--accent-bg);
  border-right: 1px solid var(--secondary-border);
  border-top: 1px solid var(--secondary-border);
  border-bottom: 1px solid var(--secondary-border);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin: -0.5rem 0 1rem 0;
}

.switch {
  position: fixed;
  display: inline-block;
  width: 40px;
  height: 22px;
  bottom: 1rem;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background-color: var(--accent-bg);
}

.switch input:checked + .slider:before {
  transform: translateX(16px);
  background-color: transparent;
  border-radius: 50%;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: inset -5px -3px 0 var(--sidebar-hover);
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-bg);
  transition: 0.4s;
  border-radius: 34px;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1), 0.2px 0.2em 24px 0 rgba(1, 29, 77, 0.15);
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-bg);
  transition: 0.4s;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
}

.main-wrapper {
  width: 100%;
  border-left: 1px solid var(--secondary-border);
  border-radius: 20% 0 0 0;
}