.inner-nav  {
    display: none;
    flex-direction: row;
    background: var(--thead-bg);
    border-bottom: 1px solid var(--secondary-border);
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin: 1rem 2rem;
      max-width:1280px;
      padding: 0;
      align-items: center;
      vertical-align: middle;
  
    }
  
    ul a {
      padding-right: 2rem;
    }
  }