.filter-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    background-color: var(--secondary-bg);
    padding: 2rem;
    border-radius: 10px;
}

.filter-bar h2 {
    margin: 0;
}

.filter-bar-content {
    display: grid;
    /* 3 columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;    width: 92%;
    background-color: var(--secondary-bg);
    padding: 2rem;
    border-radius: 20px;
    border: 1px solid var(--secondary-border);
}

.filter-bar-content button {
    background-color: var(--secondary-bg) !important;
}

.mod-badges {
    padding: 2rem;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.filter-group {
    display: grid;
    grid-template-columns: 1fr;
}

.filter-group ul {
    list-style: none;
}

/* Filter Buttons */

.filter-bar-button {

    background: var(--thead-bg);
    padding: 0.5rem;
    border-radius: 20px;
    text-align: center;
    border: 2px solid var(--secondary-bg);
}

.filter-bar-button:hover {
    background: var(--primary-bg-hover);
    transition: ease-in-out 0.3s;
    border: 2px solid var(--accent-bg);
}

.filter-bar-active {
    border: 2px solid var(--accent-color);
}