.mod-page-ctr {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
}

.mod-header {
    display: flex;
    flex-direction: row;
    width: calc(100% - 4rem);
    margin: 1rem 0;
    background: var(--thead-bg);
    border-radius: 20px;
    padding: 2rem;
}

.mod-header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.meta-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-content {
    padding: 2rem;
    background: var(--primary-bg);
    border: 1px solid var(--secondary-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.post-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.author-meta p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.author-meta a {
    padding-left: 0.25rem;
}

span.author-meta a.badge-default {
    padding: 1rem;
    border-radius: 20px;
}

.mod-info {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-bottom: 1rem;
}

.mod-info-content {
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: 1rem 2rem;
    border-radius: 20px;
    background: var(--thead-bg);
    width: 60%;
    margin-right: 1rem;
}

.mod-info-content h3 {
    margin-top: 1rem;
}

.mod-info-content div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.meta-name {
    font-weight: bold;
    color: var(--accent-text);
}

.meta-group {
    padding: 2rem;

}

.meta-group p {
    margin: 0.5rem 1.7rem;
}

.mod-deets {
    margin: 2rem 0 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    background-color: var(--tbody-bg);
    border-radius: 20px;
    i {
        padding: 0 0.5rem;
    }
}

.mod-deets div {
    padding: 1rem 2rem;
    color: var(--font-color);
}

.mod-deets p {
    margin: 0;
    font-weight: bold;
    color: var(--accent-text);
}

.mod-deets span {
    width: 100%;
    padding: 0;
    margin-left: -0.5rem;
    i {
        padding: 0;
        margin: 0;
    }
}

.mod-deets div:first-child {
    border-right: 1px solid var(--secondary-border);
}

.mod-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

.mod-info-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--thead-bg);
    border-radius: 20px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    width: 40%;
}

.mod-info h3 {
    margin: 0;
}

.mod-info-links li:nth-child(2),
.mod-info-links li:nth-child(3),
.mod-info-links li:nth-child(4),
.mod-info-links li:nth-child(5) {
    padding-left: 1rem;
}

div.post-subheader i {
    background: var(--sidebar-hover);
    border-radius: 50%;
    padding: 0.2rem;
}

.post-initial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-details {
    padding: 0 1rem;
    width: 40%;
}

.post-subheader span {
    padding-top: 0.5rem;
}


.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-meta span {
    margin: auto 0;
    font-weight: bold;
}

/* Button Tabs */

.mod-tab-bar {
    text-align: center;
    margin-bottom: 2rem;
}

.mod-tab-bar button {
    background-color: var(--primary-bg);
    border: none;
    border-bottom: 2px solid var(--primary-bg);
    color: var(--link-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
}

.mod-tab-bar button:hover {
    border-bottom: 2px solid var(--accent-bg);
    color: var(--accent-text);
}

.tab-active {
    border-bottom: 2px solid var(--accent-bg) !important;
    color: var(--accent-text) !important;
}

.box-card-tab {
    margin: 0.5rem 0;
}

.isExternal {
    padding: 0.2rem;
    font-style: italic;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}


.mod-post-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 0.5rem;

}

.author-meta {
    flex: 1 auto;
}  

/* Mod Post */

.mod-post {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    gap: 2rem;
}

.mod-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 2rem;
}

.mod-description-content {
    padding: 2rem;
    background: var(--thead-bg);
    border-radius: 20px;
}

.mod-files {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Mod files table */

table.mod-meta {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    border-collapse: collapse;

}

table.mod-meta tr {
    text-align: left;
}

table.mod-meta td {
    padding: 0.4rem;
}

table.mod-meta .tr-alt {
    background: var(--thead-bg-alt);
}


.td-cat {
    font-weight: bold;
}

.mod-files-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
}

.mod-files-table tr:last-child td:first-child {
    border-radius: 0 0 0 20px;
}

.mod-files-table tr:last-child td:last-child {
    border-radius: 0 0 20px 0;
}

.mod-files-table th {
    background: var(--thead-bg);
    color: var(--thead-text);
    font-weight: bold;
    text-align: left;
}

.mod-files-table  th:first-child {
    border-radius: 20px 0 0 0;
}

.mod-files-table  th:last-child {
    border-radius: 0 20px 0 0;
}

.mod-files-table th,
.mod-files-table td {
    padding: 1rem 2rem; /* Make sure the padding is the same for both */
    width: auto;
}

