.post-content {
    padding: 1rem;
    background: var(--primary-bg);
    border: 1px solid var(--secondary-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

table.mod-meta {
    margin-bottom: 20px;
    padding: 10px;
    border-top: 1px solid var(--secondary-border);
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    border-collapse: collapse;

}

table.mod-meta tr {
    text-align: left;
}

table.mod-meta td {
    padding: 0.4rem;
}

table.mod-meta .tr-alt {
    background: var(--thead-bg-alt);
}

.td-desc {
    border-radius: 5px;
    padding: 2rem; 
}

.td-cat {
    font-weight: bold;
}

.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-meta span {
    margin: auto 0;
    font-weight: bold;
}

/* Button Tabs */

.mod-tab-bar {
    text-align: center;
    border-bottom: 1px solid var(--secondary-border);
}

.mod-tab-bar button {
    background-color: var(--primary-bg);
    border: none;
    border-bottom: 2px solid var(--primary-bg);
    color: var(--link-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
}

.mod-tab-bar button:hover {
    border-bottom: 2px solid var(--accent-bg);
    color: var(--accent-text);
}

.mod-tab-bar .tab-active button {
    border-bottom: 2px solid var(--accent-bg);
    color: var(--accent-text);
    font-weight: bold;
}