.mod-page-ctr {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.mod-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
}

.mod-header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.meta-group {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-content {
    padding: 1rem;
    background: var(--primary-bg);
    border: 1px solid var(--secondary-border);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.post-subheader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.author-meta p {
    margin: 0.5rem 0;
    font-weight: bold;
}

.author-meta a {
    padding-left: 0.25rem;
}

span.author-meta a.badge-default {
    padding: 1rem;
    border-radius: 20px;
}

.mod-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.mod-deets {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    i {
        padding: 0 0.5rem;
    }
}

.mod-deets div {
    border: 1px solid var(--secondary-border);
    padding: 1rem;
    color: var(--font-color);
}

.mod-deets div:first-child {
    border-radius: 10px 0 0 10px;
}

.mod-deets div:last-child {
    border-radius: 0 10px 10px 0;
}

.mod-deets p {
    margin: 0;
    font-weight: bold;
    color: var(--accent-text);
}

.mod-deets span {
    margin-left: 1rem;
}

.mod-page-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem 0;
}

div.post-subheader i {
    background: var(--sidebar-hover);
    border-radius: 50%;
    padding: 0.2rem;
}

.post-initial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-details {
    padding: 0 1rem;
    width: 40%;
}

.post-subheader span {
    padding-top: 0.5rem;
}

table.mod-meta {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    border-collapse: collapse;

}

table.mod-meta tr {
    text-align: left;
}

table.mod-meta td {
    padding: 0.4rem;
}

table.mod-meta .tr-alt {
    background: var(--thead-bg-alt);
}

.td-desc {
    border-radius: 5px;
    padding: 2rem; 
}

.td-cat {
    font-weight: bold;
}

.post-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-meta span {
    margin: auto 0;
    font-weight: bold;
}

/* Button Tabs */

.mod-tab-bar {
    text-align: center;
    border-bottom: 1px solid var(--secondary-border);
}

.mod-tab-bar button {
    background-color: var(--primary-bg);
    border: none;
    border-bottom: 2px solid var(--primary-bg);
    color: var(--link-color);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
    transition: all 0.3s ease 0s;
    box-sizing: border-box;
}

.mod-tab-bar button:hover {
    border-bottom: 2px solid var(--accent-bg);
    color: var(--accent-text);
}

.tab-active {
    border-bottom: 2px solid var(--accent-bg) !important;
    color: var(--accent-text) !important;
}

.box-card-tab {
    margin: 0.5rem 0;
}

.isExternal {
    padding: 0.2rem;
    font-style: italic;
    background-color: var(--secondary-bg);
    border-radius: 10px;
}