nav {
    height: 4rem;
    background-color: #0d1b2a;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    border-bottom: 2px solid #b85454;
    vertical-align: middle;
    padding: 0 2rem;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1001;
  }

  nav a {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    display: inline-block;
    padding: 0 1rem;
  }

  nav a:hover {
    color: #b85454;
    text-shadow: #b85454 0 0 25px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
  }

.nav-right {
    margin-left: auto;
    padding-right: 5rem;
}

.nav-logo {
    background: url('logo.png') no-repeat;
}






.dropdown .dropbtn {
  background-color: #0d1b2a;
  border: none;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%; /* Position below the parent */
  left: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Styling the dropdown button */
.dropdown .dropbtn {
}