ul.pagination {
  display: inline-block;
  padding-left: 0;
  border-radius: 4px;
  list-style: none;
  font-size: 0.7rem;
}

ul.pagination-default  {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    list-style: none;
    margin: 2rem 0 0 0;
}

li.page-item {
  display: inline;
}

li.page-item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--font-color);
  background-color: var(--shade-bg);
  margin-right: 0.25rem;
  border: 1px solid var(--shade-bg);
}

li.disabled a {
    pointer-events: none;
    cursor: default;
    background-color: var(--disabled-bg);
    color: #9d9d9d;
    border: 1px solid var(--disabled-bg);
  }

ul.pagination li.active a {
    background: var(--tbody-bg);
    border: 1px solid var(--accent-bg);
  }

li.page-item a:hover {
  background-color: var(--accent-bg);
  transition: background-color 0.5s ease, border 0.5s ease;
  border: 1px solid var(--accent-bg);
}

.page-link {
  margin-bottom: 0.4rem;

}