.sidebar_r {
    width: 40%;
    display: block;
    border-radius: 10px;
    padding: 0 0.5rem;
    max-width: 400px;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    align-self: flex-start;
    top: 2rem;
    float: right;
}

.sidebar_r-inner {
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.sidebar_r-inner a.button-dft {
    width: 100%;
    text-align: center;
}

.sidebar_r-inner ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0.1rem 0 0 0;

}

.sidebar_r-title {
    width: calc(100% - 2rem);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.filter-tags {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0.5rem 1.5rem;

}

.filter-tags a {
    margin: 0.2rem;
}


@media screen and (max-width: 1100px) {
    .sidebar {
        display: none;
    }
    
    main {
        margin-left: 0;
    }
}