.sidebar {
    position: sticky;
    padding-top: 1rem;
    top: 0;
    z-index: 2000;
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background: var(--sidebar-bg);
    scrollbar-color: #324363 #1b263b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-right: 2px solid var(--accent-bg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.menu-container {
  flex: 1 1 auto; /* Allows the container to grow and shrink */
  overflow-y: auto; /* Enables vertical scrolling when content overflows */
  overflow-x: hidden;
}

.side-li.has-children {
  position: static;
}

.sidebar ul {
  list-style: none; 
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  transition: transform 0.3s ease-in-out;
}


.sidebar-open {
    transform: translateX(0);
}

.sidebar li {
    position: relative;
    line-height: 1.8rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.sidebar li a, .side-ul li a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}

.sidebar li a.dropbtn {
  position: relative;
  width: calc(100% - 2rem);
}

.sidebar li:hover {
    .pre-anim {
        animation: swing ease-in-out 0.5s 1 alternate;
    }
}

.side-ul.main-menu {
  transition: transform 0.3s ease;
  transform: translateX(0);
  flex: 1 1 auto;
}

.side-ul.main-menu.menu-slid {
  transform: translateX(-250px);
}

.pre-anim {
    padding-right: 1rem;
}

.arrow {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) scale(0.7); /* Initial transform */
    font-size: 1.5rem;
    color: var(--link-color);
    transform-origin: center;
}

.sidebar li a:hover {
    transition: color 0.5s ease;
    .icon {
        color: var(--link-hover-color);
        transition: color 0.5s ease;
    }
}

li.side-li::before {
    /* content: '•';  */
    font-size: 2.5rem; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

@keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    60% {
      transform: rotate(5deg);
    }
  
    80% {
      transform: rotate(-5deg);
    }
  }

li.side-kofi {
    /* vertical center */
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    text-align: center;

    a.kofi-button {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

    }
}

.filter-menu {
    background-color: var(--sidebar-hover);
    margin-top: 1rem;
}

ul.filter-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* inner box shadow */
    box-shadow: 
    inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3), /* Top shadow */
    inset 0 5px 5px -5px rgba(0, 0, 0, 0.3);  /* Bottom shadow */
}

.submenu {
  position: absolute;
  top: 0;
  left: 250px; 
  width: calc(250px - 2rem);
  background: var(--sidebar-bg);
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  transform: translateX(0);
  transition: transform 0.3s ease, max-height 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  margin-left: 1rem;
}

.submenu.submenu-open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.submenu.submenu-closing {
  opacity: 0;
  transform: translateX(100%); /* Slide out to the right */
  pointer-events: none;
}

div.submenu ul {
    padding-left: 1rem;
    margin: 0;
}

.submenu li {
  width: 100%; 
  margin: 0;
  padding: 0.5rem 0;     
}

ul.submenu a {
  display: block;   
  padding: 0.5rem 0 0.5rem 2.5rem;  
  color: var(--link-color);
  text-decoration: none;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  width: calc(100% - 1rem);
}

ul.submenu a:hover {
  background-color: var(--sidebar-hover);
  color: var(--link-hover-color);
}

ul.submenu li.side-kofi {
    text-align: center;
    padding: 0.5rem 2rem 0.5rem 0;

    a.kofi-button {
        width: calc(250px - 3rem) !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;

    }
}

.submenu a:hover {
    opacity: 1;
}

.submenu.submenu-open {
  max-height: 1000px; 
  opacity: 1;
}

.sidebar li.active a {
    background-color: var(--sidebar-hover);
}

/* Submenu back button */
li.submenu-back a {
  display: flex;
  align-items: center;
  color: var(--link-color);
  text-decoration: none;
  text-align: center;
  padding: 0.25rem 0 0.25rem 0.5rem;
  border: 2px solid var(--sidebar-bg);
  border-radius: 20px;
  width: calc(99% - 2rem);
  margin: 0 auto;
  background-color: var(--sidebar-hover);
  transition: ease-in-out 0.3s;
  .pre-anim {
    padding-right: 0;
    padding-left: 1rem;
  }
}

.submenu-back a:hover {
  color: var(--link-hover-color);
  border-color: var(--link-hover-color);
  border: 2px solid var(--accent-bg);
  border-radius: 20rem;
  transition: ease-in-out 0.3s;
}

.submenu-back .icon {
  vertical-align: middle;
}


/* Theme switcher */

.switch {
  margin-top: auto;
  position: relative;
  display: block;
  width: 50px; 
  height: 22px; 
  margin: 0 1rem 1rem 1rem;
  z-index: 1;
  flex-shrink: 0;
}

  
.switch input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}
  
.switch input:checked + .slider:before {
  transform: translateX(24px); /* Adjust as needed for proper movement */
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: var(--accent-bg);
  transition: 0.4s;
  border-radius: 50%;
}
  
.switch .slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--sidebar-hover);
  transition: 0.4s;
  border-radius: 34px;
  z-index: 1;
}
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accent-bg);
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
  }
  
  .selectedli {
    font-weight: 800;
  }