.sidebar_r {
    width: 30%;
    display: block;
    padding: 2rem;
    top: 2rem;
    float: right;
    background-color: var(--tbody-bg);
    height: max-content;
    position: sticky;
}

.sidebar_r-inner {
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.sidebar_r-inner a.button-dft {
    width: calc(100% - 2rem);
    text-align: center;
}

.sidebar_r-inner ul {
    list-style: none;
    padding-left: 1rem;
    margin: 0.1rem 0 0 0;

}

.sidebar_r-title {
    width: calc(100% - 2rem);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.filter-tags {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0.5rem 1.5rem;

}

.filter-tags a {
    margin: 0.2rem;
}


@media screen and (max-width: 1100px) {
    .sidebar {
        display: none;
    }
    
    main {
        margin-left: 0;
    }
}