.sidebar {
    position: relative;
    padding-top: 1rem;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 2000;
    height: 100vh;
    min-width: 250px;
    background: var(--sidebar-bg);
    scrollbar-color: #324363 #1b263b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 2px solid var(--accent-bg);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.side-li.has-children {
  position: static;
}

.main-menu {
  transition: transform 0.3s ease-in-out;
}

.sidebar ul {
    list-style: none; 
    width: 100%;
    margin-left: -2rem;
    transition: transform 0.3s ease-in-out;
}

.sidebar-open {
    transform: translateX(0);
}

.sidebar li {
    position: relative;
    line-height: 1.8rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.sidebar li a, .side-ul li a {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
}

.sidebar li:hover {
    .pre-anim {
        animation: swing ease-in-out 0.5s 1 alternate;
    }
}

.side-ul.main-menu {
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.side-ul.main-menu.menu-slid {
  transform: translateX(-250px); 
}

.pre-anim {
    padding-right: 1rem;
}

.arrow {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%) scale(0.7); /* Initial transform */
    font-size: 1.5rem;
    color: var(--link-color);
    transform-origin: center;
}

.sidebar li a:hover {
    transition: color 0.5s ease;
    .icon {
        color: var(--link-hover-color);
        transition: color 0.5s ease;
    }
}

li.side-li::before {
    /* content: '•';  */
    font-size: 2.5rem; 
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

@keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    60% {
      transform: rotate(5deg);
    }
  
    80% {
      transform: rotate(-5deg);
    }
  }

li.side-kofi {
    /* vertical center */
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.filter-menu {
    background-color: var(--sidebar-hover);
    margin-top: 1rem;
}

ul.filter-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* inner box shadow */
    box-shadow: 
    inset 0 -5px 5px -5px rgba(0, 0, 0, 0.3), /* Top shadow */
    inset 0 5px 5px -5px rgba(0, 0, 0, 0.3);  /* Bottom shadow */
}

.submenu {
  position: absolute;
  top: 0;
  left: 350px; 
  width: auto; 
  min-width: 250px;
  max-width: 400px;
  background: var(--sidebar-bg);
  max-height: 0;
  overflow-y: auto;
  overflow-x: hidden; 
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  z-index: 1000;
  padding: 0;
  margin: 0; 
}

.submenu.submenu-open {
  max-height: 100vh;
  opacity: 1;
}

.submenu.submenu-open {
  transform: translateX(0); /* Slide into view from the right */
    max-height: none;
}

div.submenu ul {
    padding-left: 0;
    margin: 0;
}

.submenu li {
  width: auto; 
  margin: 0;
  padding: 0.5rem 0;     
}

.submenu a {
  display: block;   
  padding: 0.5rem 1rem;  
  color: var(--link-color);
  text-decoration: none;
  text-align: left; 
  white-space: normal; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.submenu a:hover {
    opacity: 1;
}

.submenu.submenu-open {
  max-height: 1000px; 
  opacity: 1;
}

/* Theme switcher */

.switch {
    position: fixed;
    display: inline-block;
    width: 40px;
    height: 22px;
    bottom: 1rem;
    margin-left: 1rem;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch input:checked + .slider {
    background-color: var(--accent-bg);
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(16px);
    background-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: inset -5px -3px 0 var(--sidebar-hover);
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-bg);
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.1), 0.2px 0.2em 24px 0 rgba(1, 29, 77, 0.15);
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--accent-bg);
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
  }
  