{{ define "main" }}

  <div class="body-content">
    {{/*  Title and blurb  */}}
    <h1>{{ .Title }}</h1>
    <div class="cat-blurb">{{ .Content }}</div>

    {{/*  Generate the list of mods as cards */}}
    {{ .Scratch.Set "filter" .Params.layout }}
    {{ $pagination := .Paginate (where .Site.RegularPages "Section" "mods") }}
    {{ template "_internal/pagination.html" . }}

    <ul class="box-card-list">
        {{ range $pagination.Pages }}
            <li class="box-card-mods">
                <div class="box-card-mods-img">
                    {{/*  get first image from images folder in this bundle */}}
                    {{ $thumbnail := "" }}
                    {{ with (.Resources.GetMatch "images/*") }}
                        {{ $processedImage := .Fill "300x200 center" }} <!-- Adjust dimensions as needed -->
                        {{ $thumbnail = $processedImage.RelPermalink }}
                    {{ end }}
        
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .Site.Params.cdn }}{{ $thumbnail }}" alt="{{ .LinkTitle }}">
                    </a>
                </div>
                <div class="box-card-mods-content">
                        <p>
                        {{ if eq .Params.game "Zoo Tycoon 1" }}
                            <a href="mods/zt1">{{ .Params.game }}</a>
                        {{ else if eq .Params.game "Zoo Tycoon 2" }}
                            <a href="mods/zt2">{{ .Params.game }}</a>
                        {{ else }}
                            {{ .Params.game }}
                        {{ end }}
                        </p>
                    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
                    <p>by 
                        {{ $authors := .Params.author }}
                        {{ $siteBaseURL := .Site.BaseURL }}    
                        {{ with .Params.team }}
                            <a href="{{ $siteBaseURL }}teams/{{ . | urlize }}">{{ . }}</a>
                        {{ else }}
                            {{ with $authors }}
                                {{ $len := len $authors }}
                                {{ if eq $len 1 }}
                                    <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>
                                {{ else if eq $len 2 }}
                                    <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a> and <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a>
                                {{ else }}
                                    <a href="{{ $siteBaseURL }}authors/{{ index $authors 0 | urlize }}">{{ index $authors 0 }}</a>, <a href="{{ $siteBaseURL }}authors/{{ index $authors 1 | urlize }}">{{ index $authors 1 }}</a> and {{ sub $len 2 }} more
                                {{ end }}
                            {{ end }}
                        {{ end }}
                            </p>
                    <span class="box-card-bottom">
                        {{ partial "class-badges.html" . }}
                        <span class="box-card-date">{{ .Date.Format "2 Jan 2006" }}</span>
                    </span>
                </div>
            </li>
        {{ end }}
    </ul>
    {{ template "_internal/pagination.html" . }}
</div>
    {{/*  Generate the sidebar filters */}}
    {{ .Scratch.Set "category" .Params.Title }}
    {{ .Scratch.Set "game" .Params.major }}
    {{ partial "sidebar-r/sidebar_r.html" . }}



{{ end }}