<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    {{ if .Params.blog }}
      <div class="content">
    {{ else }}
      <div class="content">
    {{ end }}
        {{ if .Params.navigation }}
          {{ partial "sidebar_l.html" (dict "menuID" "main" "page" .) }}
        {{ end }}
        <div class="main-wrapper">
          {{ if .Params.submenu }}
            {{ partial "inner-nav.html" . }}
          {{ end }}
          <main>
            <header>
              {{ partial "header.html" . }}
            </header>
              {{ block "main" . }}{{ end }}
          </main>
          <footer>
            {{ partial "footer.html" . }}
          </footer>
        </div>
      </div>

  </body>
</html>
