{{ define "main" }}
<div class="body-content">
  <div class="box-frontpage">
      {{ .Content }}
      <a href="#" class="button-dft margin-rt">Learn More About ZooBerry</a>
      <a href="#" class="button-dft margin-rt">How to Contribute</a>
      <a href="#" class="button-dft margin-rt">Browse Mods</a>

  </div>
  <h1>New Releases</h1>
  <p class="cat-blurb">These mods are new and published directly to ZooBerry.</p>
  {{ partial "range-zooberry-mods.html" . }}
  <h1>Latest Archived</h1>
  <p class="cat-blurb">All of the latest mods part of the greater ZooBerry archive project.</p>
    {{ partial "range-mods.html" . }}
    <a href="mods" class="button-dft margin-rt">More from Latest</a>
    <a href="mods" class="button-dft margin-rt">Browse All Mods</a>
  <h1>Latest Blog Posts</h1>
    {{ partial "range-blogs.html" . }}
    <a href="blog" class="button-dft margin-rt">More from Latest</a>
    <a href="blog" class="button-dft margin-rt">Browse All Blog Posts</a>
  <h1>Latest Knowledgebase Articles</h1>
</div>
  {{ partial "sidebar_r.html" . }}
{{ end }}


