{{ define "main" }}
  {{/*  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}  */}}

  <div class="body-content">
    {{/*  breadcrumbs  */}}
    {{ partial "breadcrumbs.html" . }}
    <h1>{{.Title}}</h1>
    <div class="post-meta"><span>By 
      {{ range .Params.author }}
          <a href="/author/">{{ . }}</a>
      {{ end }}
    </span>

    </div>
    <div class="post-content">
      {{ partial "galleria.html" . }}
      <div class="mod-tab-bar">
        <button class="mod-tab-btn" onclick="openTab('tab-description')">Description</button>
        <button class="mod-tab-btn" onclick="openTab('tab-files')">Files</button>
        <button class="mod-tab-btn" onclick="openTab('tab-dependencies')">Dependencies</button>
      </div> 
      <div id="tab-description" class="tab tab-active">
        <h2>Description</h2>
        {{ .Content }}
      </div>
      <div id="tab-files" class="tab" style="display: none;">
        <h2>Files</h2>
        {{ partial "range-files.html" . }}
      </div>
      <div id="tab-dependencies" class="tab" style="display: none;">
        <h2>Dependencies</h2>
        {{/*  {{ partial "range-dependencies.html" . }}  */}}
      </div>
    </div>
  
    <h1>Latest Mods</h1>
      {{ partial "range-mods.html" . }}
      <a href="mods" class="button-dft margin-rt">More from Latest</a>
      <a href="mods" class="button-dft margin-rt">Browse All Mods</a>
    <h1>Latest Blog Posts</h1>
    <h1>Latest Knowledgebase Articles</h1>
  </div>
    {{ partial "sidebar_r.html" . }}
    <script>
      function openTab(item) {
        var i;
        var x = document.getElementsByClassName("tab");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
          x[i].classList.remove("tab-active");
        }
        document.getElementById(item).style.display = "block";
        document.getElementById(item).classList.add("tab-active");
      }
    </script>
{{ end }}
