{{ define "main" }}
  {{/*  <h1>{{ .Title }}</h1>

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

  {{ .Content }}
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}  */}}

  <div class="body-content">
    {{/*  breadcrumbs  */}}
    {{ partial "breadcrumbs.html" . }}
    <h1>{{.Title}}</h1>
    <div class="post-meta"><span>By 
      {{ range .Params.author }}
          <a href="/author/">{{ . }}</a>
      {{ end }}
    </span>
      <a class="button-dft margin-rt flt-rt" href="#">Download</a> 

    </div>
    <div class="post-content">
      {{ partial "galleria.html" . }}
        <table class="mod-meta">
          <tr>
            <td class="td-cat">Game</td>
            <td>{{ .Params.game }}</td>
          </tr>
          <tr class="tr-alt">
            <td class="td-cat">Required Expansions</td>
            <td>{{ partial "class-reqexp.html" . }}</td>
          </td>
          <tr>
            <td class="td-cat">File Size</td>
            <td>{{ .Params.file_size }}</td>
          </tr>
          <tr class="tr-alt">
            <td class="td-cat">Original Release</td>
            <td>{{ .Params.orig_rel_date }}</td>
          </tr>
          <tr>
            <td class="td-cat">Archive Date</td>
            <td>{{ .Params.Date | time.Format "2006-01-02" }}</td>
          </tr>
          <tr class="tr-alt">
            <td class="td-cat">Original Platform</td>
            <td>{{ .Params.orig_rel_at }}</td>
          </tr>
          <tr>
            <td class="td-cat">Author Allows Derivative Works?</td>
            <td>{{ .Params.license }}</td>
          </tr>
          <tr class="tr-alt">
            <td class="td-cat">Languages</td>
            <td>{{ partial "class-languages.html" . }}</td>
          </tr>
          <tr>
            <td colspan="2" class="td-cat">Description</td>
          </tr>
          <tr>
            <td colspan="2" class="td-desc">
                {{ .Content }}
            </td>
          </tr>

        </table>
        {{/*  table example:  */}}
    </div>
  
    <h1>Latest Mods</h1>
      {{ partial "range-mods.html" . }}
      <a href="mods" class="button-dft margin-rt">More from Latest</a>
      <a href="mods" class="button-dft margin-rt">Browse All Mods</a>
    <h1>Latest Blog Posts</h1>
    <h1>Latest Knowledgebase Articles</h1>
  </div>
    {{ partial "sidebar_r.html" . }}
  
{{ end }}
